{* Liste aller Raeume *}
<div>
    <div class="shc-view-content">
        {if $message|isset}
            {$message->fetchHtml()}
        {/if}
        <form id="shc-view-contentTable-sortable-form">
            <table class="shc-view-contentTable" id="shc-view-contentTable-sortable">
                <thead>
                <tr>
                    <th style="width: 90%;">{lang var="acp.roomManagement.roomList.table.head.name"}</th>
                    <th style="width: 10%;">{lang var="acpindex.options"}</th>
                </tr>
                </thead>
                <tbody>
                {foreach from=$roomList item='room'}
                <tr>
                    <td>{if $room->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$room->getName()}{if $room->isEnabled() == false}</span>{/if}</td>
                    <td>
                        {editlink link='index.php?app=shc&ajax=editroomform&id=' id=$room->getId()}
                        {deletelink link='index.php?app=shc&ajax=deleteroom&id=' id=$room->getId() prompt='acp.roomManagement.prompt.deleteRoom' title='acp.roomManagement.prompt.deleteRoom.title'}
                        <input type="hidden" name="roomOrder[{$room->getId()}]" value="{$room->getOrderId()}" />
                    </td>
                </tr>
                {/foreach}
                </tbody>
            </table>
        </form>
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton location="index.php?app=shc&page=acp"}
            <button id="shc-view-button-sort">{lang var="acpindex.sort"}</button>
            {acpbutton link="index.php?app=shc&ajax=addroomform" text="acp.roomManagement.button.addRoom"}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.roomManagement.title"}');
        $('.shc-view-buttonSet').buttonset();

        //Sortierung
        $('#shc-view-button-sort').click(function() {

            $("#shc-view-contentTable-sortable tbody tr").css('cursor', 'move');
            $('#shc-view-contentTable-sortable').sortable({
                containerSelector: 'table',
                itemPath: '> tbody',
                itemSelector: 'tr',
                placeholder: '<tr class="shc-view-contentTable-sortable-placeholder"><td colspan="2"></td></tr>',
                onDrop: function() {

                    $("#shc-view-contentTable-sortable tbody tr").css('cursor', 'move');
                    $('#shc-view-contentTable-sortable').sortable();

                    //Sortierungs IDs in die versteckten Felder eintragen
                    $('#shc-view-contentTable-sortable').find('input').each(function(index) {
                        $(this).val(index + 1);
                    });
                }
            });

            $('#shc-view-button-sort').button({
                label: '{lang var="acpindex.save"}'
            });
            $('#shc-view-button-sort').click(function() {

                var $form = $('#shc-view-contentTable-sortable-form');
                var $inputs = $form.find("input");
                var serializedData = $form.serialize();
                $inputs.prop("disabled", true);

                request = $.ajax({
                    url: "index.php?app=shc&ajax=listrooms&req=saveorder",
                    type: "post",
                    data: serializedData
                });

                request.done(function(response, textStatus, jqXHR) {
                    //Antwort vom Server
                    $('#shc-view-acp-contentBox div.shc-contentbox-body').html(response);
                });

                request.always(function() {
                    $inputs.prop("disabled", false);
                });
            });
        })

    });
</script>