{* Bedingung erstellen Formular *}

{* Typauswahl *}
{if $conditionTypeChooser|isset}
<div>
    <div class="shc-view-content">
        <form>
            <div style="text-align: center;">
                {$conditionTypeChooser->fetch()}
            </div>
        </form>
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listconditions"}
            <button id="shc-view-switchableManagement-button-next">{lang var="acp.conditionManagement.button.next"}</button>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.conditionManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
        $('#shc-view-switchableManagement-button-next').click(function() {

            $.get('index.php?app=shc&ajax=addconditionform&type=' + $('select[name=type]').val(), function(data, textStatus, jqXHR) {
                $('#shc-view-acp-contentBox div.shc-contentbox-inner').html(data);
            });
        });
    });
</script>

{* Formular Anzeigen *}
{else}
<div>
    {if $conditionForm|isset}
    <div class="shc-view-content">
        {$conditionForm->showForm()}
    </div>
    {instanceof element=$conditionForm class='\SHC\Form\Forms\DateConditionForm'}
    <script type="text/javascript">
        $(function() {

            $('input[name=startDate]').datepicker({
                firstDay: 1,
                changeMonth: true,
                numberOfMonths: 2,
                dateFormat: "mm-dd",
                dayNamesMin: [
                    "{lang var='global.date.weekDay.sun.short'}",
                    "{lang var='global.date.weekDay.mon.short'}",
                    "{lang var='global.date.weekDay.tue.short'}",
                    "{lang var='global.date.weekDay.wed.short'}",
                    "{lang var='global.date.weekDay.thu.short'}",
                    "{lang var='global.date.weekDay.fri.short'}",
                    "{lang var='global.date.weekDay.sat.short'}"
                ],
                monthNamesShort: [
                    "{lang var='global.date.month.1.short'}",
                    "{lang var='global.date.month.2.short'}",
                    "{lang var='global.date.month.3.short'}",
                    "{lang var='global.date.month.4.short'}",
                    "{lang var='global.date.month.5.short'}",
                    "{lang var='global.date.month.6.short'}",
                    "{lang var='global.date.month.7.short'}",
                    "{lang var='global.date.month.8.short'}",
                    "{lang var='global.date.month.9.short'}",
                    "{lang var='global.date.month.10.short'}",
                    "{lang var='global.date.month.11.short'}",
                    "{lang var='global.date.month.12.short'}"
                ]
            });
            $('input[name=endDate]').datepicker({
                firstDay: 1,
                changeMonth: true,
                numberOfMonths: 2,
                dateFormat: "mm-dd",
                dayNamesMin: [
                    "{lang var='global.date.weekDay.sun.short'}",
                    "{lang var='global.date.weekDay.mon.short'}",
                    "{lang var='global.date.weekDay.tue.short'}",
                    "{lang var='global.date.weekDay.wed.short'}",
                    "{lang var='global.date.weekDay.thu.short'}",
                    "{lang var='global.date.weekDay.fri.short'}",
                    "{lang var='global.date.weekDay.sat.short'}"
                ],
                monthNamesShort: [
                    "{lang var='global.date.month.1.short'}",
                    "{lang var='global.date.month.2.short'}",
                    "{lang var='global.date.month.3.short'}",
                    "{lang var='global.date.month.4.short'}",
                    "{lang var='global.date.month.5.short'}",
                    "{lang var='global.date.month.6.short'}",
                    "{lang var='global.date.month.7.short'}",
                    "{lang var='global.date.month.8.short'}",
                    "{lang var='global.date.month.9.short'}",
                    "{lang var='global.date.month.10.short'}",
                    "{lang var='global.date.month.11.short'}",
                    "{lang var='global.date.month.12.short'}"
                ]
            });
        });
    </script>
    {/instanceof}
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listconditions"}
            {resetbutton form="#shc-view-form-addCondition"}
            {submitbutton form="#shc-view-form-addCondition" action="index.php?app=shc&ajax=addconditionform"}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listconditions"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.conditionManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>
{/if}