<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.conditionManagement.title" id='shc-view-acp-contentBox'}
            {if $message|isset}
            {$message->fetchHtml()}
            {/if}
            <div class="shc-view-content">
                <table class="shc-view-contentTable">
                    <thead>
                    <tr>
                        <th style="width: 65%;">{lang var="acp.conditionManagement.conditionList.table.head.name"}</th>
                        <th style="width: 25%;">{lang var="acp.conditionManagement.conditionList.table.head.type"}</th>
                        <th style="width: 10%;">{lang var="acpindex.options"}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach from=$conditionList item='condition'}
                    <tr>
                        <td>{if $condition->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$condition->getName()}{if $condition->isEnabled() == false}</span>{/if}</td>
                        <td>
                            {instanceof element=$condition class='\SHC\Condition\Conditions\HumidityGreaterThanCondition'}{lang var="acp.conditionManagement.condition.HumidityGreaterThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\HumidityLowerThanCondition'}{lang var="acp.conditionManagement.condition.HumidityLowerThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\LightIntensityGreaterThanCondition'}{lang var="acp.conditionManagement.condition.LightIntensityGreaterThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\LightIntensityLowerThanCondition'}{lang var="acp.conditionManagement.condition.LightIntensityLowerThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\MoistureGreaterThanCondition'}{lang var="acp.conditionManagement.condition.MoistureGreaterThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\MoistureLowerThanCondition'}{lang var="acp.conditionManagement.condition.MoistureLowerThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\TemperatureGreaterThanCondition'}{lang var="acp.conditionManagement.condition.TemperatureGreaterThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\TemperatureLowerThanCondition'}{lang var="acp.conditionManagement.condition.TemperatureLowerThanCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\NobodyAtHomeCondition'}{lang var="acp.conditionManagement.condition.NobodyAtHomeCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\UserAtHomeCondition'}{lang var="acp.conditionManagement.condition.UserAtHomeConHumdition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\DateCondition'}{lang var="acp.conditionManagement.condition.DateCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\DayOfWeekCondition'}{lang var="acp.conditionManagement.condition.DayOfWeekCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\TimeOfDayCondition'}{lang var="acp.conditionManagement.condition.TimeOfDayCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\SunriseSunsetCondition'}{lang var="acp.conditionManagement.condition.SunriseSunsetCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\SunsetSunriseCondition'}{lang var="acp.conditionManagement.condition.SunsetSunriseCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\FileExistsCondition'}{lang var="acp.conditionManagement.condition.FileExistsCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\HolidaysCondition'}{lang var="acp.conditionManagement.condition.HolidaysCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\InputHighCondition'}{lang var="acp.conditionManagement.condition.InputHighCondition"}{/instanceof}
                            {instanceof element=$condition class='\SHC\Condition\Conditions\InputLowCondition'}{lang var="acp.conditionManagement.condition.InputLowCondition"}{/instanceof}
                        </td>
                        <td>
                            {editlink link='index.php?app=shc&page=editconditionform&id=' id=$condition->getId()}
                            {deletelink link='index.php?app=shc&action=deletecondition&id=' id=$condition->getId() prompt='acp.conditionManagement.prompt.deleteCondition' title='acp.conditionManagement.prompt.deleteCondition.title'}
                        </td>
                    </tr>
                    {foreachelse}
                    <tr>
                        <td colspan="3">{lang var='acpindex.emptyList'}</td>
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
            </div>
            <div class="shc-view-buttons">
                <div class="shc-view-buttonSet">
                    <a href="index.php?app=shc&page=acp">{lang var='global.button.back'}</a>
                    <a href="index.php?app=shc&page=addconditionform">{lang var='acp.conditionManagement.button.addCondition'}</a>
                </div>
            </div>
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.shc-view-buttonSet').buttonset();
                });
            </script>
        </div>
    </body>
</html>