<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.eventsManagement.title" id='shc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                <div class="shc-view-content">
                    <table class="shc-view-contentTable">
                        <thead>
                            <tr>
                                <th style="width: 50%;">{lang var="acp.eventsManagement.eventList.table.head.name"}</th>
                                <th style="width: 20%;">{lang var="acp.eventsManagement.eventList.table.head.type"}</th>
                                <th style="width: 20%;">{lang var="acp.eventsManagement.eventList.table.head.lastExecute"}</th>
                                <th style="width: 10%;">{lang var="acpindex.options"}</th>
                            </tr>
                        </thead>
                        <tbody>
                        {foreach from=$eventList item='event'}
                            <tr>
                                <td>{if $event->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$event->getName()}{if $event->isEnabled() == false}</span>{/if}</td>
                                <td>
                                    {$event->getTypeName()}
                                </td>
                                <td>{if $event->getLastExecute()->format('d.m.Y') != '01.01.2000'}{$event->getLastExecute()|timeline}{else}{lang var="acp.eventsManagement.eventList.table.head.never"}{/if}</td>
                                <td>
                                    {editlist link='index.php?app=shc&page=manageswitchablesinevents&id=' id=$event->getId()}
                                    {editlink link='index.php?app=shc&page=editeventform&id=' id=$event->getId()}
                                    {deletelink link='index.php?app=shc&action=deleteevent&id=' id=$event->getId() prompt='acp.eventsManagement.prompt.deleteEvent' title='acp.eventsManagement.prompt.deleteEvent.title'}
                                </td>
                            </tr>
                        {foreachelse}
                            <tr>
                                <td colspan="4">{lang var='acpindex.emptyList'}</td>
                            </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=acp">{lang var='global.button.back'}</a>
                        <a href="index.php?app=shc&page=listevents">{lang var='acpindex.reload'}</a>
                        <a href="index.php?app=shc&page=addeventform">{lang var='acp.eventsManagement.button.addEvent'}</a>
                    </div>
                </div>
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.shc-view-buttonSet').buttonset();
                });
            </script>
        </div>
    </body>
</html>