{* Raum anzeigen *}
<!DOCTYPE html>
<html>
    <head>
        <title>{#$room->getName()}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        <div data-role="page" id="room">
            <div data-theme="b" data-role="header" data-position="fixed">
                <a data-role="button" href="index.php?m&app=shc&page=index" data-icon="arrow-l" data-iconpos="left" class="ui-btn-left" data-transition="slide">
                    {lang var='index.button.back'}
                </a>
                <h3>
                    {#$room->getName()}
                </h3>
            </div>
            <div data-role="content">
                <ul data-role="listview" data-inset="true" data-divider-theme="b">
                    {$viewHelper->showAll()}
                </ul>
            </div>
        </div>
        <!-- Fehlerdialog Dialog -->
        <div data-role="page" id="errorDialog">
            <div data-role="header">
                <h2>{lang var='index.room.error.title'}</h2>
            </div>
            <div data-role="content">
                <p id="errorMessage"></p>
            </div>
        </div>
        <script type="text/javascript">

                    function sync() {

                        // Browser unterstuetzt kein SSE -> Ajax Fallback
                        $.getJSON(
                                "index.php?app=shc&a&ajax=roomsync&id={$room->getId()}&hash=" + Math.floor(Math.random() * 11),
                                function (data) {
                                    if (data.success == true) {

                                        //schaltbare Elemente Sychronisieren
                                        $.each(data.switchables, function (index, value) {

                                            if(value == 1) {

                                                $("#shc-view-switchable-{$room->getId()}-"+ index +"-off").removeClass("ui-icon-check ui-btn-b ui-btn-icon-left").addClass("ui-btn-c");
                                                $("#shc-view-switchable-{$room->getId()}-"+ index +"-on").removeClass("ui-btn-c").addClass("ui-btn-b ui-icon-check ui-btn-icon-left");
                                            } else {

                                                $("#shc-view-switchable-{$room->getId()}-"+ index +"-on").removeClass("ui-icon-check ui-btn-b ui-btn-icon-left").addClass("ui-btn-c");
                                                $("#shc-view-switchable-{$room->getId()}-"+ index +"-off").removeClass("ui-btn-c").addClass("ui-btn-b ui-icon-check ui-btn-icon-left");
                                            }
                                        });

                                        //Wake on Lan Sychronisieren
                                        $.each(data.wol, function (index, value) {

                                            if(value == 1) {

                                                $("#shc-view-switchable-{$room->getId()}-"+ index +"-on").removeClass('ui-icon-power ui-btn-c').addClass('ui-icon-arrow-r ui-btn-b');
                                            } else {

                                                $("#shc-view-switchable-{$room->getId()}-"+ index +"-on").removeClass('ui-icon-arrow-r ui-btn-b').addClass('ui-icon-power ui-btn-c');
                                            }
                                        });

                                        //lesbare Elemente Sychronisieren
                                        $.each(data.readables, function (index, value) {

                                            if(value == 1) {

                                                $("#shc-view-switchable-{$room->getId()}-"+ index).removeClass('ui-icon-delete').addClass('ui-icon-check');
                                            } else {

                                                $("#shc-view-switchable-{$room->getId()}-"+ index).removeClass('ui-icon-check').addClass('ui-icon-delete');
                                            }
                                        });

                                        //DS18x20 Sensoren
                                        $.each(data.ds18x20, function (index, value) {

                                            $('#shc-view-sensor-ds18x20-{$room->getId()}-'+ index +'-temp').text(value.temp);
                                        });

                                        //DHT Sensoren
                                        $.each(data.dht, function (index, value) {

                                            $('#shc-view-sensor-dht-{$room->getId()}-'+ index +'-temp').text(value.temp);
                                            $('#shc-view-sensor-dht-{$room->getId()}-'+ index +'-hum').text(value.hum);
                                        });

                                        //BMP Sensoren
                                        $.each(data.bmp, function (index, value) {

                                            $('#shc-view-sensor-bmp-{$room->getId()}-'+ index +'-temp').text(value.temp);
                                            $('#shc-view-sensor-bmp-{$room->getId()}-'+ index +'-press').text(value.press);
                                            $('#shc-view-sensor-bmp-{$room->getId()}-'+ index +'-alti').text(value.alti);
                                        });

                                        //Analog Sensoren
                                        $.each(data.analog, function (index, value) {

                                            $('#shc-view-sensor-analog-{$room->getId()}-'+ index +'-value').text(value.value);
                                        });

                                        //AVM Power Sensoren
                                        $.each(data.syncAvmPowerSocket, function (index, value) {

                                            $('#shc-view-sensor-avmPowerSensor-{$room->getId()}-'+ index +'-temp').text(value.temp);
                                            $('#shc-view-sensor-avmPowerSensor-{$room->getId()}-'+ index +'-power').text(value.power);
                                            $('#shc-view-sensor-avmPowerSensor-{$room->getId()}-'+ index +'-energy').text(value.energy);
                                        });
                                    }
                                }
                        );
                        setTimeout("sync()", 2000);
                    }
                    sync();
        </script>
    </body>
</html>