/* Systemzeit */
span.pcc-icon-time {
     background-image: url(../../../img/icons/uptime.png);
}

span.pcc-icon-bootTime {
    background-image: url(../../../img/icons/bootTime.png);
}

span.pcc-icon-clock {
    background-image: url(../../../img/icons/clock.png);
}

/* System */
span.pcc-icon-coreAvg {
    background-image: url(../../../img/icons/coreAvg.png);
}

span.pcc-icon-coreClock {
    background-image: url(../../../img/icons/coreClock.png);
}

span.pcc-icon-coreTemp {
    background-image: url(../../../img/icons/coreTemp.png);
}

span.pcc-icon-memory {
    background-image: url(../../../img/icons/memory.png);
}

span.pcc-icon-swap {
    background-image: url(../../../img/icons/swap.png);
}

/* Daten */
span.pcc-icon-os {
    background-image: url(../../../img/icons/os.png);
}

span.pcc-icon-kernel {
    background-image: url(../../../img/icons/kernel.png);
}

span.pcc-icon-firmware {
    background-image: url(../../../img/icons/firmware.png);
}

span.pcc-icon-hostname {
    background-image: url(../../../img/icons/hostname.png);
}

span.pcc-icon-ramSplit {
    background-image: url(../../../img/icons/ramSplit.png);
}

/* Systemdaten */

span.pcc-icon-core {
    background-image: url(../../../img/icons/core.png);
}

span.pcc-icon-overclock {
    background-image: url(../../../img/icons/overcklock.png);
}

span.pcc-icon-coreFeatures {
    background-image: url(../../../img/icons/coreFeatures.png);
}

span.pcc-icon-serial {
    background-image: url(../../../img/icons/serial.png);
}

span.pcc-icon-revision {
    background-image: url(../../../img/icons/revision.png);
}

span.pcc-icon-usbCurrent {
    background-image: url(../../../img/icons/usbCurrent.png);
}

/* Video Lizenzen*/

span.pcc-icon-video {
    background-image: url(../../../img/icons/video.png);
}

/* ACP Menue */
span#pcc-view-acp-menu-usermanagement {
    background-image: url(../../../img/acpmenue/usermanagement.png);
}

span#pcc-view-acp-menu-settings {
    background-image: url(../../../img/acpmenue/settings.png);
}

span#pcc-view-acp-menu-backup {
    background-image: url(../../../img/acpmenue/backup.png);
}

span#pcc-view-acp-menu-database {
    background-image: url(../../../img/acpmenue/database.png);
}

span#pcc-view-acp-menu-info {
    background-image: url(../../../img/acpmenue/info.png);
}