/* Globale Stylesheets */

* {
    padding: 0;
    margin: 0;
    outline: none;
}

html {
    height: 100%;
}

body {
    background: #ffffff;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    height: 100%;	
}

img { 
    border: none;
}

.red {
    color: #ff0000;	
}

.green {
    color: #006907;	
}

/* Headline */

div#shc-headline {
    height: 63px;
    background: #86b5d9 url(./images/ui-bg_highlight-soft_44_444444_1x100.png) repeat-x center;	
    position: relative;
    color: #ffffff;
}

div#shc-headline-right {
    position: absolute;
    top: 0px;
    right: 25px;	
    text-align: right;
    padding: 9px 0;
    font-size: 1.2em;
}

div#shc-headline-right div {
    margin-bottom: 3px;
}

div#shc-headline a {
    color: #ffffff;
    display: inline-block;
}

div#shc-headline-left div#shc-headline-logo {
    height: 63px;
    margin: 0 0 0 10px;
    background: url(../../../img/shc-logo.png) no-repeat;
    background-position: 5px 5px;
}

div#shc-headline-left div#shc-headline-logo a {
    height: 63px;
    display: inline-block;
    font-size: 30px;
    margin: 13px 0 0 50px;
    font-weight: bold;
    text-decoration: none;
}

/* Layout */

div#shc-content {
    width: 60%;
    min-width: 800px;
    margin: 20px auto;
}

div.shc-contentbox {
    margin-bottom: 10px;
}

div.shc-contentbox-header {
    text-align: center;
    padding: 3px 0;
    font-size: 1.2em;
    font-weight: bold;
}

div.shc-contentbox-body {
    padding: 5px;
}

div.shc-contentbox-body-row {
    padding: 3px;
}

span.shc-contentbox-body-row-title {
    display: inline-block;
    text-align: right;
    font-size: 1.3em;
    font-weight: bold;
    width: 47%;
}

div.shc-contentbox-body-row-content {
    display: inline-block;
}

/* Allgemeine Links */

a.shc-view-buttons-edit {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../../img/buttons/edit.png) no-repeat;
}

a.shc-view-buttons-delete {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../../../img/buttons/delete.png) no-repeat;
}

/* Raum Ansicht */

div.shc-contentbox-room {
    margin-top: 10px;
}

span.shc-icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    position: relative;
    top: 10px;
    margin: 0 10px;
}

div.shc-view-sensor  {
    margin-bottom: 5px;
}

div.shc-view-sensor div.shc-contentbox-body-row-content.shc-view-middle {
    position: relative;
    top: 5px;
}

div.shc-view-sensor div.shc-contentbox-body-row-content.shc-view-low {
    position: relative;
    top: 12px;
}

/* Meldungen */

.rwf-ui-message-error, .rwf-ui-message-info, .rwf-ui-message-successfully, .rwf-ui-message-warning {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    position: relative;
    min-height: 22px;
    margin: 10px;
}

.rwf-ui-message-error .rwf-ui-message-icon, .rwf-ui-message-info .rwf-ui-message-icon, .rwf-ui-message-successfully .rwf-ui-message-icon, .rwf-ui-message-warning .rwf-ui-message-icon {
    width: 32px;
    height: 32px;
    margin: 5px;
    position: absolute;
    top: 0;
    left: 5px;
}

.rwf-ui-message-error ul, .rwf-ui-message-info ul, .rwf-ui-message-successfully ul, .rwf-ui-message-warning ul {
    margin: 5px 0 0 80px;
    font-size: 0.9em;
    color: #000000;
}

.rwf-ui-message-error .rwf-ui-message, .rwf-ui-message-info .rwf-ui-message, .rwf-ui-message-successfully .rwf-ui-message, .rwf-ui-message-warning .rwf-ui-message {
    margin-left: 45px;
    color: #000000;
}

.rwf-ui-message-error {
    border: 1px solid #d00101;
    background-color: #fde7e7;
}

.rwf-ui-message-error .rwf-ui-message-icon {
    background: url(../../../img/shc-message-error.png) no-repeat;
}

.rwf-ui-message-error .rwf-ui-message a {
    background-color: #fde7e7;
    border: #d00101 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.rwf-ui-message-warning {
    border: 1px solid #ee9e09;
    background-color: #fefcc6;
}

.rwf-ui-message-warning .rwf-ui-message-icon {
    background: url(../../../img/shc-message-warning.png) no-repeat;
}

.rwf-ui-message-warning .rwf-ui-message a {
    background-color: #fefcc6;
    border: #ee9e09 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.rwf-ui-message-info {
    border: 1px solid #799ee1;
    background-color: #e2eafb;
}

.rwf-ui-message-info .rwf-ui-message-icon {
    background: url(../../../img/shc-message-info.png) no-repeat;
}

.rwf-ui-message-info .rwf-ui-message a {
    background-color: #e2eafb;
    border: #799ee1 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.rwf-ui-message-successfully {
    border: 1px solid #009607;
    background-color: #d2ffcd;
}

.rwf-ui-message-successfully .rwf-ui-message-icon {
    background: url(../../../img/shc-message-successfully.png) no-repeat;
}

.rwf-ui-message-successfully .rwf-ui-message a {
    background-color: #d2ffcd;
    border: #009607 double 3px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    padding: 3px;
    background-color: #ffffff;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

/* Login Formular */
#shc-form-login div span {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-weight: bold;
    font-size: 1.1em;
}

#shc-form-login .shc-form-defaulField {
    width: 175px;
    padding: 3px;
    margin: 2px;
    border: solid #949494 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    font-size: 1.1em;
}

/* ACP Menue */
div.shc-view-acp-menuGroup {
    margin: 10px;
    padding: 5px 10px;
}

div.shc-view-acp-menuGroup h2 {
    font-size: 1.4em;
    font-weight: bold;
}

div.shc-view-acp-menuGroup hr {
    margin-bottom: 10px;
}

div.shc-view-acp-menuGroup div.shc-view-acp-menuGroup-body {
    padding: 3px 0 0 10px;
}

div.shc-view-acp-menuItem {
    display: inline-block;
    margin-right: 25px;
    margin-bottom: 10px;
    cursor: pointer;
}

div.shc-view-acp-menuItem span.shc-view-acp-menuItem-icon {
    display: inline-block;
    width: 48px;
    height: 48px;
    margin-right: 5px;
}

div.shc-view-acp-menuItem span.shc-view-acp-menuItem-text {
    font-size: 1.1em;
    display: inline-block;
    max-width: 120px;
    position: relative;
    top: -20px;
}

div.shc-view-acp-menuItem:hover span.shc-view-acp-menuItem-text {
    text-decoration: underline;
}

/* Standard Tabelle */

table.shc-view-contentTable {
    width: 100%;
    margin: 10px 0 10px 0;
}

table.shc-view-contentTable th {
    background: #86b5d9 url(./images/ui-bg_highlight-soft_44_444444_1x100.png) repeat-x center;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #DDE1E5;
    color: #ffffff;
    font-weight: normal;
    padding: 5px;
    text-align: left;
}

table.shc-view-contentTable td {
    border-bottom: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    padding: 5px;
}

table.shc-view-contentTable tfoot td {
    background: #86b5d9 url(./images/ui-bg_highlight-soft_44_444444_1x100.png) repeat-x center;
    font-weight: bold;
}

/* Buttonleiste */

div.shc-view-buttons {
    text-align: right;
    margin: 10px -8px -8px -8px;
    padding: 10px;
    border-top: solid #555555 1px;
    background-color: #000000;
    border-bottom-left-radius: 5px;;
    border-bottom-right-radius: 5px;
}
