{* Benutzer zu Hause bearbeiten Formular *}
<div>
    {if $userAtHomeForm|isset}
    <div class="shc-view-content">
        {$userAtHomeForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listusersathome"}
            {resetbutton form="#shc-view-form-editUserAtHome"}
            {submitbutton form="#shc-view-form-editUserAtHome" action="index.php?app=shc&ajax=edituserathomeform" id=$userAtHome->getId()}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listusersathome"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.usersathomeManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>