{* ACP Startseite *}
<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acpindex.box.overview"}
            comming Soon ...
            {/contentbox}
            {contentbox name="acpindex.box.acpMenue"}
            comming Soon ...
            {/contentbox}
        </div>
    </body>
</html>
