{* Startseite *}
<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            <div id="shc-view-errorFrame" style="display:none" title="{lang var='index.room.error.title'}"></div>
            {premission premission='shc.acp.warnings'}
                <div id="shc-view-warnings"></div>
            {/premission}
            {premission premission='shc.acp.viewUserAtHome' setting='shc.ui.index.showUsersAtHome'}
                {contentbox name="index.userAtHome.boxTitle"}
                    <div id="shc-view-usersAtHomeBox"></div>
                {/contentbox}
            {/premission}
            <div id="shc-content-tabs">
                <ul>
                    {foreach from=$roomList item='room'}
                    {if $room->isUserEntitled($user) == true && $room->isEnabled() == true}
                    <li><a href="index.php?app=shc&ajax=showroom&id={$room->getId()}">{#$room->getName()}</a></li>
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {

                $("#shc-content-tabs").tabs({
                    active   : $.cookie('activeTabMainView'),
                    activate : function( event, ui ){
                        $.cookie( 'activeTabMainView', ui.newTab.index(),{
                            expires : 10
                        });
                    }
                });

            });

            {premission premission='shc.ucp.viewUserAtHome' setting='shc.ui.index.showUsersAtHome'}
            function updateUserAtHome() {

                $.get(
                        "index.php?app=shc&ajax=userathomeupdate&hash=" + Math.floor(Math.random() * 11),
                        function(data) {

                            //Wer ist Online Daten erneuern
                            $('#shc-view-usersAtHomeBox').html(data);
                        }
                );

                $('#shc-view-usersAtHomeBox').tooltip();
                setTimeout('updateUserAtHome()', 15000);
            };
            updateUserAtHome();
            {/premission}
            {premission premission='shc.acp.warnings'}
            function updateWarnings() {

                $.get(
                        "index.php?app=shc&ajax=warnings&hash=" + Math.floor(Math.random() * 11),
                        function(data) {

                            //Wer ist Online Daten erneuern
                            $('#shc-view-warnings').html(data);
                        }
                );

                $('#shc-view-usersAtHomeBox').tooltip();
                setTimeout('updateWarnings()', 30000);
            };
            updateWarnings();
            {/premission}
        </script>
    </body>
</html>
