{* Startseite *}
<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="index.userAtHome.boxTitle"}
            comming Soon ...
            {/contentbox}
            <div id="shc-content-tabs">
                <ul>
                    {foreach from=$roomList item='room'}
                    {if $room->isUserEntitled($user)}
                    <li><a href="index.php?app=shc&ajax=showroom&id={$room->getId()}">{#$room->getName()}</a></li>
                    {/if}
                    {/foreach}
                </ul>
            </div>
        </div>
        {literal}
        <script type="text/javascript">
            $(function () {

                $('#shc-content-tabs').tabs();
            })
        </script>
        {/literal}
    </body>
</html>
