<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='pcc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="pcc-content">
            {contentbox name="acpindex.box.acpMenue" id='pcc-view-acp-contentBox'}
            <div class="pcc-view-acp-menuGroup">
                <h2>{lang var='acpindex.menu.group.main'}</h2>
                <hr/>
                <div class="pcc-view-acp-menuGroup-body">
                    {acpmenuitem text='acpindex.menu.users' icon='pcc-view-acp-menu-usermanagement' link='index.php?app=pcc&page=listusers' premission='pcc.acp.userManagement'}
                    {acpmenuitem text='acpindex.menu.settings' icon='pcc-view-acp-menu-settings' link='index.php?app=pcc&page=settingsform' premission='pcc.acp.settings'}
                    {acpmenuitem text='acpindex.menu.database' icon='pcc-view-acp-menu-database' link='index.php?app=pcc&page=database' premission='pcc.acp.databaseManagement'}
                    {acpmenuitem text='acpindex.menu.backup' icon='pcc-view-acp-menu-backup' link='index.php?app=pcc&page=listbackups' premission='pcc.acp.backupsManagement'}
                </div>
            </div>
            <div class="pcc-view-acp-menuGroup">
                <h2>{lang var='acpindex.menu.group.other'}</h2>
                <hr/>
                <div class="pcc-view-acp-menuGroup-body">
                    {acpmenuitem text='acpindex.menu.info' icon='pcc-view-acp-menu-info' link='index.php?app=pcc&page=info' premission='pcc.acp.menu'}
                </div>
            </div>
            {/contentbox}
        </div>
    </body>
</html>
