<script type="text/javascript">

        if (!!window.EventSource) {

            var eventSource = new EventSource('index.php?app=shc&a&sync=room&id={$roomId}', { withCredentials : true });

            //Ereignishandler registrieren
            eventSource.addEventListener('syncSwitchables', function(e) {

                //JOSN parsen
                var data = jQuery.parseJSON(e.data.trim());

                //schaltbare Elemente Sychronisieren
                $.each(data, function(index, value) {

                    if(value == 1) {

                        $("#shc-view-switchable-{$roomId}-"+ index +"-off").button({ icons: { primary: "" } });
                        $("#shc-view-switchable-{$roomId}-"+ index +"-on").button({ icons: { primary: "ui-icon-check" } });
                    } else {

                        $("#shc-view-switchable-{$roomId}-"+ index +"-on").button({ icons: { primary: "" } });
                        $("#shc-view-switchable-{$roomId}-"+ index +"-off").button({ icons: { primary: "ui-icon-check" } });
                    }
                });
            });
            eventSource.addEventListener('syncWOL', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                 //Wake on Lan Sychronisieren
                 $.each(data, function(index, value) {

                     if(value == 1) {

                         $('#shc-view-wolDevice-{$roomId}-'+ index).removeClass('shc-icon-offline');
                         $('#shc-view-wolDevice-{$roomId}-'+ index).addClass('shc-icon-online');
                     } else {

                         $('#shc-view-wolDevice-{$roomId}-'+ index).removeClass('shc-icon-online');
                         $('#shc-view-wolDevice-{$roomId}-'+ index).addClass('shc-icon-offline');
                     }
                 });
            });
            eventSource.addEventListener('syncReadables', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                //lesbare Elemente Sychronisieren
                $.each(data, function(index, value) {

                    if(value == 1) {

                        $('#shc-view-readable-{$roomId}-'+ index).removeClass('shc-icon-low');
                        $('#shc-view-readable-{$roomId}-'+ index).addClass('shc-icon-high');
                    } else {

                        $('#shc-view-readable-{$roomId}-'+ index).removeClass('shc-icon-high');
                        $('#shc-view-readable-{$roomId}-'+ index).addClass('shc-icon-low');
                    }
                });
            });
            eventSource.addEventListener('syncDS18x20', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                //DS18x20 Sensoren
                $.each(data, function(index, value) {

                    $('#shc-view-sensor-ds18x20-{$roomId}-'+ index +'-temp').text(value.temp);
                });
            });
            eventSource.addEventListener('syncDHT', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                //DHT Sensoren
                $.each(data, function(index, value) {

                    $('#shc-view-sensor-dht-{$roomId}-'+ index +'-temp').text(value.temp);
                    $('#shc-view-sensor-dht-{$roomId}-'+ index +'-hum').text(value.hum);
                });
            });
            eventSource.addEventListener('syncBMP', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                //BMP Sensoren
                $.each(data, function(index, value) {

                    $('#shc-view-sensor-bmp-{$roomId}-'+ index +'-temp').text(value.temp);
                    $('#shc-view-sensor-bmp-{$roomId}-'+ index +'-press').text(value.press);
                    $('#shc-view-sensor-bmp-{$roomId}-'+ index +'-alti').text(value.alti);
                });
            });
            eventSource.addEventListener('syncAnalog', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                //Analog Sensoren
                $.each(data, function(index, value) {

                    $('#shc-view-sensor-analog-{$roomId}-'+ index +'-value').text(value.value);
                });
            });
            eventSource.addEventListener('syncAvmPowerSocket', function(e) {

                //JOSN parsen
                var data = JSON.parse(e.data);

                //AVM Power Sensoren
                $.each(data, function(index, value) {

                    $('#shc-view-sensor-avmPowerSensor-{$roomId}-'+ index +'-temp').text(value.temp);
                    $('#shc-view-sensor-avmPowerSensor-{$roomId}-'+ index +'-power').text(value.power);
                    $('#shc-view-sensor-avmPowerSensor-{$roomId}-'+ index +'-energy').text(value.energy);
                });
            });

            eventSource.addEventListener('error', function(e) {
                if (!e.readyState == EventSource.CLOSED) {

                    console.log(e);
                }
            });

        } else {

            function sync() {

                // Browser unterstuetzt kein SSE -> Ajax Fallback
                $.getJSON(
                        "index.php?app=shc&a&ajax=roomsync&id={$roomId}&hash=" + Math.floor(Math.random() * 11),
                        function (data) {
                            if (data.success == true) {

                                //schaltbare Elemente Sychronisieren
                                $.each(data.switchables, function (index, value) {

                                    if (value == 1) {

                                        $("#shc-view-switchable-{$roomId}-" + index + "-off").button({ icons:  {primary: "" } });
                                        $("#shc-view-switchable-{$roomId}-" + index + "-on").button({ icons: { primary: "ui-icon-check" } });
                                    } else {

                                        $("#shc-view-switchable-{$roomId}-" + index + "-on").button({ icons: { primary: "" } });
                                        $("#shc-view-switchable-{$roomId}-" + index + "-off").button({ icons: { primary: "ui-icon-check" } });
                                    }
                                });

                                //Wake on Lan Sychronisieren
                                $.each(data.wol, function (index, value) {

                                    if (value == 1) {

                                        $('#shc-view-wolDevice-{$roomId}-' + index).removeClass('shc-icon-offline');
                                        $('#shc-view-wolDevice-{$roomId}-' + index).addClass('shc-icon-online');
                                    } else {

                                        $('#shc-view-wolDevice-{$roomId}-' + index).removeClass('shc-icon-online');
                                        $('#shc-view-wolDevice-{$roomId}-' + index).addClass('shc-icon-offline');
                                    }
                                });

                                //lesbare Elemente Sychronisieren
                                $.each(data.readables, function (index, value) {

                                    if (value == 1) {

                                        $('#shc-view-readable-{$roomId}-' + index).removeClass('shc-icon-low');
                                        $('#shc-view-readable-{$roomId}-' + index).addClass('shc-icon-high');
                                    } else {

                                        $('#shc-view-readable-{$roomId}-' + index).removeClass('shc-icon-high');
                                        $('#shc-view-readable-{$roomId}-' + index).addClass('shc-icon-low');
                                    }
                                });

                                //DS18x20 Sensoren
                                $.each(data.ds18x20, function (index, value) {

                                    $('#shc-view-sensor-ds18x20-{$roomId}-' + index + '-temp').text(value.temp);
                                });

                                //DHT Sensoren
                                $.each(data.dht, function (index, value) {

                                    $('#shc-view-sensor-dht-{$roomId}-' + index + '-temp').text(value.temp);
                                    $('#shc-view-sensor-dht-{$roomId}-' + index + '-hum').text(value.hum);
                                });

                                //BMP Sensoren
                                $.each(data.bmp, function (index, value) {

                                    $('#shc-view-sensor-bmp-{$roomId}-' + index + '-temp').text(value.temp);
                                    $('#shc-view-sensor-bmp-{$roomId}-' + index + '-press').text(value.press);
                                    $('#shc-view-sensor-bmp-{$roomId}-' + index + '-alti').text(value.alti);
                                });

                                //Analog Sensoren
                                $.each(data.analog, function (index, value) {

                                    $('#shc-view-sensor-analog-{$roomId}-' + index + '-value').text(value.value);
                                });

                                //AVM Power Sensoren
                                $.each(data.syncAvmPowerSocket, function (index, value) {

                                    $('#shc-view-sensor-avmPowerSensor-{$roomId}-'+ index +'-temp').text(value.temp);
                                    $('#shc-view-sensor-avmPowerSensor-{$roomId}-'+ index +'-power').text(value.power);
                                    $('#shc-view-sensor-avmPowerSensor-{$roomId}-'+ index +'-energy').text(value.energy);
                                });
                            }
                        }
                );
                setTimeout("sync()", 5000);
            }
            sync();
        }
</script>