<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='mb.title' encodeHtml=1}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
        <link href="./mb/inc/js/jtable/themes/jqueryui/jtable_jqueryui.min.css" rel="stylesheet" type="text/css" />
        <script src="./mb/inc/js/jtable/jquery.jtable.min.js" type="text/javascript"></script>
        <script src="./mb/inc/js/jtable/localization/jquery.jtable.de.js" type="text/javascript"></script>
    </head>
    <body>
        {include file='headline.html'}
        <div id="mb-content">
            <div id="mb-content-tabs">
                <ul>
                    {premission premission='mb.ucp.viewMovies'}
                    <li><a href="index.php?app=mb&ajax=listmovies">{lang var='index.tabs.movies'}</a></li>
                    {/premission}
                    {premission premission='mb.ucp.viewMovieCollections'}
                    <li><a href="index.php?app=mb&ajax=listmoviecollections">{lang var='index.tabs.movieCollections'}</a></li>
                    {/premission}
                    {premission premission='mb.ucp.viewStatistics'}
                    <li><a href="index.php?app=mb&ajax=statictics">{lang var='index.tabs.statistics'}</a></li>
                    {/premission}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {

                $("#mb-content-tabs").tabs({
                    active   : $.cookie('activeTabMainViewmb'),
                    activate : function( event, ui ){
                        $.cookie( 'activeTabMainViewmb', ui.newTab.index(),{
                            expires : 10
                        });
                    },
                    beforeLoad: function( event, ui ) {

                        ui.panel.html('<div id="mb-view-tabLoad-progress"></div>');
                        $("#mb-view-tabLoad-progress").progressbar({
                            value: false
                        });

                        ui.jqXHR.done(function(data) {
                            ui.panel.html(data);
                        });
                        ui.jqXHR.fail(function() {
                            ui.panel.html('Fehler');
                        });
                    }
                });

            });
        </script>
    </body>
</html>