<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{setting name='shc.title' encodeHtml=1}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        <div data-role="page" id="home">
            {include file='mobileHeadlineIndex.html'}
            <div data-role="content">
                <h2 style="text-align: center;">{lang var="acp.usersathomeManagement.title"}</h2>
                {if $message|isset}{$message->fetchHtml()}{/if}
                <form id="shc-view-contentTable-sortable-form" action="index.php?app=shc&m&action=saveuserathomeorder" method="post">
                    <ul data-role="listview" data-split-icon="delete" data-inset="true" data-split-theme="a" id="shc-view-sortableList">
                        {foreach from=$userAtHomeList item='userAtHome'}
                        <li>
                            <a href="index.php?app=shc&m&page=edituserathomeform&id={$userAtHome->getId()}">
                                <h2>{if $userAtHome->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$userAtHome->getName()}{if $userAtHome->isEnabled() == false}</span>{/if}</h2>
                                <p>{lang var="acp.usersathomeManagement.userlist.table.head.ip"}: {#$userAtHome->getIpAddress()}</p>
                                <input type="hidden" name="userOrder[{$userAtHome->getId()}]" value="{$userAtHome->getOrderId()}" />
                            </a>
                            <a href="#delete-{$userAtHome->getId()}" data-rel="dialog">{lang var="acpindex.options"}</a>
                        </li>
                        {foreachelse}
                        <li>
                            <h2>{lang var='acpindex.emptyList'}</h2>
                        </li>
                        {/foreach}
                    </ul>
                </form>
            </div>
            <div data-role="footer" data-theme="b" data-position="fixed">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li><a href="#" data-icon="bars" id="shc-view-button-sort">{lang var='acpindex.sort'}</a></li>
                        <li><a href="index.php?app=shc&m&page=adduserathomeform" data-icon="plus">{lang var='acp.usersathomeManagement.button.addUser'}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {foreach from=$userAtHomeList item='userAtHome'}
        <div data-role="page" id="delete-{$userAtHome->getId()}">
            <div data-role="header" data-theme="a">
                <h1>{lang var="acp.usersathomeManagement.prompt.deleteUser.title"}</h1>
            </div>
            <div data-role="main" class="ui-content">
                <p>{lang var="acp.usersathomeManagement.prompt.deleteUser"}</p>
                <a href="index.php?app=shc&m&action=deleteUserAtHome&id={$userAtHome->getId()}" class="ui-btn ui-corner-all ui-shadow">{lang var="global.yes"}</a>
                <a href="#" class="ui-btn ui-corner-all ui-shadow" data-transition="flow" id="delete-close-{$userAtHome->getId()}">{lang var="global.no"}</a>
            </div>
        </div>
        <script type="text/javascript">
            $('#delete-close-{$userAtHome->getId()}').click(function() {
                $('.ui-dialog').dialog('close');
            });
        </script>
        {/foreach}
        <script type="text/javascript">

            $(document).bind('pageinit', function() {

                $(function () {

                    //Sortierung
                    $('#shc-view-button-sort').click(function () {

                        $('#shc-view-sortableList').sortable({
                            stop: function () {

                                $('#shc-view-sortableList').listview('refresh');
                                //Sortierungs IDs in die versteckten Felder eintragen
                                $('#shc-view-sortableList').find('input').each(function (index) {
                                    $(this).val(index + 1);
                                });
                            }
                        });
                        $('#shc-view-sortableList').disableSelection();

                        $('#shc-view-button-sort').button({
                            label: '{lang var="acpindex.save"}'
                        });
                        $('#shc-view-button-sort').click(function () {

                            $('#shc-view-contentTable-sortable-form').submit();
                        });
                    })
                });
            });
        </script>
    </body>
</html>