<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.daemonState.title" id='shc-view-acp-contentBox'}
            <div>
                <div class="shc-view-content">
                    {contentbox name='acp.daemonState.box.switchServer'}
                        {if $message|isset}
                        <div>
                            {$message->fetchHtml()}
                        </div>
                        {/if}
                        <table class="shc-view-contentTable">
                            <thead>
                                <tr>
                                    <th style="width: 80%;">{lang var='acp.daemonState.box.name'}</th>
                                    <th style="width: 20%;">{lang var='acp.daemonState.box.state'}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {foreach from=$switchServers item='switchServer'}
                                <tr>
                                    <td>{#$switchServer.object->getName()}</td>
                                    <td>
                                        {if $switchServer.object->isEnabled() == false}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-notActive"></span> {lang var='acp.daemonState.box.state.notActive'}
                                        {elseif $switchServer.state == 1}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-run"></span> {lang var='acp.daemonState.box.state.run'}
                                        {else}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-stop"></span> {lang var='acp.daemonState.box.state.stop'}
                                        {/if}
                                    </td>
                                </tr>
                                {/foreach}
                            </tbody>
                        </table>
                    {/contentbox}
                    {contentbox name='acp.daemonState.box.daemons'}
                        <table class="shc-view-contentTable">
                            <thead>
                                <tr>
                                    <th style="width: 80%;">{lang var='acp.daemonState.box.deamon'}</th>
                                    <th style="width: 20%;">{lang var='acp.daemonState.box.state'}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>{lang var='acp.daemonState.box.deamon.task'}</td>
                                    <td>
                                        {if $shedulerState == 1}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-run"></span> {lang var='acp.daemonState.box.state.run'}
                                        {elseif $shedulerState == 2}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-notActive"></span> {lang var='acp.daemonState.box.state.notActive'}
                                        {else}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-stop"></span> {lang var='acp.daemonState.box.state.stop'}
                                        {/if}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{lang var='acp.daemonState.box.deamon.sensorDataTransmitter'}</td>
                                    <td>
                                        {if $sensorDataTransmitterState == 1}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-run"></span> {lang var='acp.daemonState.box.state.run'}
                                        {elseif $sensorDataTransmitterState == 2}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-notActive"></span> {lang var='acp.daemonState.box.state.notActive'}
                                        {else}
                                        <span class="shc-view-acp-simpleIcon shc-view-acp-simpleIcon-stop"></span> {lang var='acp.daemonState.box.state.stop'}
                                        {/if}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    {/contentbox}
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=acp">{lang var="global.button.back"}</a>
                        <a href="index.php?app=shc&page=daemonstate">{lang var="acpindex.reload"}</a>
                    </div>
                </div>
                <script type="text/javascript">
                    $(function() {

                        $('.shc-view-buttonSet').buttonset();
                    });
                </script>
                {/contentbox}
            </div>
        </div>
    </body>
</html>