<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.settings.title" id='shc-view-acp-contentBox'}
            <div>
                {if $message|isset}
                <div class="shc-view-content">
                    {$message->fetchHtml()}
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=acp">{lang var='global.button.back'}</a>
                    </div>
                </div>
                {elseif $settingsForm|isset}
                {$settingsForm->fetchStartTag()}
                <div class="shc-view-content">
                    {$settingsForm->fetchDescription()}
                    {$settingsForm->fetchMessages()}
                    {$settingsForm->fetchTabContainerStart()}
                    {$settingsForm->fetchTabList()}
                    {foreach from=$settingsForm->listTabs() item='tab'}
                        {$settingsForm->fetchTab($tab)}
                    {/foreach}
                    {$settingsForm->fetchTabContainerEnd()}
                    {$settingsForm->fetchContainerJavaScript()}
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=acp">{lang var='global.button.back'}</a>
                        <input type="reset" value="{lang var='form.button.reset'}" />
                        <input type="submit" value="{lang var='form.button.submit'}" />
                    </div>
                </div>
                {$settingsForm->fetchEndTag()}
                {/if}
            </div>
            {/contentbox}
        </div>
        <script type="text/javascript">
            $(function() {

                $('.shc-view-buttonSet').buttonset();
            });
        </script>
    </body>
</html>