{* Einstellungen bearbeiten Formular *}
<div>
    {if $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton location="index.php?app=shc&page=acp"}
        </div>
    </div>
    {elseif $settingsForm|isset}
    <div class="shc-view-content">
        {$settingsForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton location="index.php?app=shc&page=acp"}
            {resetbutton form="#shc-view-form-settings"}
            {submitbutton form="#shc-view-form-settings" action="index.php?app=shc&ajax=settingsform"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.settings.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>