{* Schaltpunkt bearbeiten Formular *}
<div>
    {if $switchPointForm|isset}
    <div class="shc-view-content">
        {$switchPointForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchpoints"}
            {if $type == 'simple'}<button id="shc-view-switchpointsManagment-extendetForm">{lang var="acp.switchpointsManagment.button.addSwitchPoint.extendetForm"}</button>{/if}
            {resetbutton form="#shc-view-form-addSwitchPoint"}
            {if $type == 'simple'}
            {submitbutton form="#shc-view-form-editSwitchPoint" action="index.php?app=shc&ajax=editswitchpointform" id=$switchPoint->getId()}
            {else}
            {submitbutton form="#shc-view-form-editSwitchPoint" action="index.php?app=shc&ajax=editswitchpointform&type=extendet" id=$switchPoint->getId()}
            {/if}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchpoints"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.switchpointsManagment.title"}');
        $('.shc-view-buttonSet').buttonset();

        {if $type != 'extendet' && $message|isset == false}
        $('#shc-view-switchpointsManagment-extendetForm').click(function() {

            $.get("index.php?app=shc&ajax=editswitchpointform&type=extendet&id={$switchPoint->getId()}", function(data, textStatus, jqXHR) {
                $('#shc-view-acp-contentBox div.shc-contentbox-body').html(data);
            });
        });
        {/if}
    });
</script>