<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.switchpointsManagment.title" id='shc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                <div class="shc-view-content">
                    <table class="shc-view-contentTable">
                        <thead>
                        <tr>
                            <th style="width: 70%;">{lang var="acp.switchpointsManagment.switchPointList.table.head.name"}</th>
                            <th style="width: 20%;">{lang var="acp.switchpointsManagment.switchPointList.table.head.lastExecute"}</th>
                            <th style="width: 10%;">{lang var="acpindex.options"}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$switchPointsList item='switchPoint'}
                        <tr>
                            <td>
                                <span style="cursor: pointer;" id="shc-view-switchpointsManagment-{$switchPoint->getId()}-tooltip" title="">{if $switchPoint->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$switchPoint->getName()}{if $switchPoint->isEnabled() == false}</span>{/if}</span>
                                <div id="shc-view-switchpointsManagment-{$switchPoint->getId()}-tooltip-content" style="display: none;">
                                    {$switchPoint->fetchTooltip()}
                                </div>
                                <script type="text/javascript">
                                    $(function() {

                                        $('#shc-view-switchpointsManagment-{$switchPoint->getId()}-tooltip').tooltip({
                                            content: function() {
                                                return $('#shc-view-switchpointsManagment-{$switchPoint->getId()}-tooltip-content').html();
                                            },
                                            track: true
                                        });
                                    });
                                </script>
                            </td>
                            <td>{if $switchPoint->getLastExecute()->format('d.m.Y') != '01.01.2000'}{$switchPoint->getLastExecute()|timeline}{else}{lang var="acp.switchpointsManagment.switchPointList.table.head.lastExecute.never"}{/if}</td>
                            <td>
                                {editlist link='index.php?app=shc&page=manageswitchablesinswitchpoints&id=' id=$switchPoint->getId()}
                                {editlink link='index.php?app=shc&page=editswitchpointform&id=' id=$switchPoint->getId()}
                                {deletelink link='index.php?app=shc&action=deleteswitchpoint&id=' id=$switchPoint->getId() prompt='acp.switchpointsManagment.prompt.deleteSwitchPoint' title='acp.switchpointsManagment.prompt.deleteSwitchPoint.title'}
                            </td>
                        </tr>
                        {foreachelse}
                        <tr>
                            <td colspan="3">{lang var='acpindex.emptyList'}</td>
                        </tr>
                        {/foreach}
                        </tbody>
                    </table>
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=acp">{lang var='global.button.back'}</a>
                        <a href="index.php?app=shc&page=listswitchpoints">{lang var='acpindex.reload'}</a>
                        <a href="index.php?app=shc&page=addswitchpointform">{lang var='acp.switchpointsManagment.button.addSwitchPoint'}</a>
                    </div>
                </div>
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.shc-view-buttonSet').buttonset();
                });
            </script>
        </div>
    </body>
</html>