<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.switchpointsManagment.title" id='shc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                <div class="shc-view-content">
                    {contentbox name='acp.switchpointsManagment.title.info'}
                    <table class="shc-view-contentTable">
                        <tr>
                            <td style="width: 50%;">{lang var="acp.switchpointsManagment.switchPointList.table.head.name"}</td>
                            <td>{#$switchPoint->getName()}</td>
                        </tr>
                        <tr>
                            <td>{lang var="acp.switchpointsManagment.switchPointList.table.head.command"}</td>
                            <td>{if $switchPoint->getCommand() == 1}{lang var="global.on"}{elseif $switchPoint->getCommand() == 4}{lang var="global.toggle"}{else}{lang var="global.off"}{/if}</td>
                        </tr>
                    </table>
                    {/contentbox}
                    {* Bedingungen *}
                    {contentbox name='acp.switchpointsManagment.title.conditions'}
                    <table class="shc-view-contentTable">
                        <thead>
                        <tr>
                            <th style="width: 70%;">{lang var="acp.switchpointsManagment.switchPointList.table.head.name"}</th>
                            <th style="width: 20%;">{lang var="acp.switchpointsManagment.switchPointList.table.head.type"}</th>
                            <th style="width: 10%;">{lang var="acpindex.options"}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$conditionList item='condition'}
                        {instanceof element=$condition class='\SHC\Condition\Condition'}
                        <tr>
                            <td>{if $condition->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$condition->getName()}{if $condition->isEnabled() == false}</span>{/if}</td>
                            <td>
                                {$condition->getTypeName()}
                            </td>
                            <td>
                                <a class="shc-view-buttons-delete" href="index.php?app=shc&action=deleteconditionfromswitchpoint&id={$switchPoint->getId()}&condition={$condition->getId()}" title="{lang var='acp.switchableManagement.button.deleteFormContainer'}"></a>
                            </td>
                        </tr>
                        {/instanceof}
                        {foreachelse}
                        <tr>
                            <td colspan="3">{lang var='acpindex.emptyList'}</td>
                        </tr>
                        {/foreach}
                        <tr>
                            <td>{$conditionChooser->fetch()}</td>
                            <td></td>
                            <td>
                                <button id="shc-view-switchablesManagement-addConditionSwitchpoint">{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {/contentbox}
                    {* schaltbare Elemente *}
                    {contentbox name='acp.switchpointsManagment.title.switchables'}
                    <table class="shc-view-contentTable">
                        <thead>
                        <tr>
                            <th style="width: 70%;">{lang var="acp.switchableManagement.elementTable.table.head.name"}</th>
                            <th style="width: 20%;">{lang var="acp.switchableManagement.elementTable.table.head.type"}</th>
                            <th style="width: 10%;">{lang var="acpindex.options"}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$elementList item='element'}
                        {instanceof element=$element class='\SHC\Switchable\Switchable'}
                        <tr>
                            <td>{if $element->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isEnabled() == false}</span>{/if}</td>
                            <td>
                                {$element->getTypeName()}
                            </td>
                            <td>
                                <a class="shc-view-buttons-delete" href="index.php?app=shc&action=deleteswitchablefromswitchpoint&id={$switchPoint->getId()}&element={$element->getId()}" title="{lang var='acp.switchableManagement.button.deleteFormContainer'}"></a>
                            </td>
                        </tr>
                        {/instanceof}
                        {foreachelse}
                        <tr>
                            <td colspan="3">{lang var='acpindex.emptyList'}</td>
                        </tr>
                        {/foreach}
                        <tr>
                            <td>{$elementChooser->fetch()}</td>
                            <td></td>
                            <td>
                                <button id="shc-view-switchablesManagement-addElement">{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    {/contentbox}
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=listswitchpoints">{lang var='global.button.back'}</a>
                    </div>
                </div>
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.shc-view-buttonSet').buttonset();

                    $('#shc-view-switchablesManagement-addConditionSwitchpoint').button().click(function() {

                        var condition = $('select[name=condition]').val();
                        window.location = "index.php?app=shc&action=addconditiontoswitchpoint&id={$switchPoint->getId()}&condition="+ condition;
                    });

                    $('#shc-view-switchablesManagement-addElement').button().click(function() {

                        var element = $('select[name=element]').val();
                        window.location = "index.php?app=shc&action=addswitchabletoswitchpoint&id={$switchPoint->getId()}&element="+ element;
                    });
                });
            </script>
        </div>
    </body>
</html>