<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{setting name='shc.title' encodeHtml=1}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        <div data-role="page" id="home">
            {include file='mobileHeadlineIndex.html'}
            <div data-role="content">
                <h2 style="text-align: center;">{lang var="acp.sensorpointsManagement.title"}</h2>
                {if $message|isset}{$message->fetchHtml()}{/if}
                <ul data-role="listview" data-split-icon="delete" data-inset="true" data-split-theme="a">
                    {foreach from=$sensorPointsList item='sensorPoint'}
                    <li>
                        <a href="#popup-{$sensorPoint->getId()}" data-rel="dialog">
                            <h2>{#$sensorPoint->getName()}</h2>
                            <p>
                                {lang var="acp.sensorpointsManagement.roomList.table.head.lastConnect"}: {$sensorPoint->getTime()|timeline}<br/>
                                {lang var="acp.sensorpointsManagement.roomList.table.head.voltage"}: {@$sensorPoint->getVoltage()}V
                            </p>
                        </a>
                        <a href="#delete-{$sensorPoint->getId()}" data-rel="dialog">{lang var="acpindex.options"}</a>
                    </li>
                    {foreachelse}
                    <li>
                        <h2>{lang var='acpindex.emptyList'}</h2>
                    </li>
                    {/foreach}
                </ul>
            </div>
        </div>
        {foreach from=$sensorPointsList item='sensorPoint'}
        <div data-role="page" id="delete-{$sensorPoint->getId()}">
            <div data-role="header" data-theme="a">
                <h1>{lang var="acp.sensorpointsManagement.prompt.deleteSensorPoint.title"}</h1>
            </div>
            <div data-role="main" class="ui-content">
                <p>{lang var="acp.sensorpointsManagement.prompt.deleteSensorPoint"}</p>
                <a href="index.php?app=shc&m&action=deleteSensorPoint&id={$sensorPoint->getId()}" class="ui-btn ui-corner-all ui-shadow">{lang var="global.yes"}</a>
                <a href="#" class="ui-btn ui-corner-all ui-shadow" data-transition="flow" id="delete-close-{$sensorPoint->getId()}">{lang var="global.no"}</a>
            </div>
        </div>
        <div data-role="page" id="popup-{$sensorPoint->getId()}" data-dialog="true">
            <div data-role="header" data-theme="a">
                <h1>{#$sensorPoint->getName()}</h1>
            </div>
            <div data-role="main" class="ui-content">
                <a href="index.php?app=shc&m&page=editsensorpointform&id={$sensorPoint->getId()}" class="ui-btn">{lang var="global.button.edit"}</a>
                <br/>
                <h2>{lang var='acp.sensorpointsManagement.title.sensors'}</h2>
                <ul data-role="listview">
                    {foreach from=$sensorPoint->listSensors('name') item='sensor'}
                    <li>
                        <span style="font-weight: bold;">{#$sensor->getName()}</span>
                        <br/>
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\BMP'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.BMP"}{/instanceof}
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\DHT'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.DHT"}{/instanceof}
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\DS18x20'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.DS18x20"}{/instanceof}
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\Hygrometer'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.Hygrometer"}{/instanceof}
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\LDR'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.LDR"}{/instanceof}
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\RainSensor'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.RainSensor"}{/instanceof}
                        {instanceof element=$sensor class='\SHC\Sensor\Sensors\AvmMeasuringSocket'}&nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.switchableManagement.element.avmMeasuringSocket"}{/instanceof}
                        <br/>
                        &nbsp;&nbsp;&nbsp;&nbsp;{lang var="acp.sensorpointsManagement.roomList.table.head.lastConnect"}: {$sensor->getTime()|timeline}
                    </li>
                    {foreachelse}
                    <li>{lang var='acpindex.emptyList'}</li>
                    {/foreach}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $('#delete-close-{$sensorPoint->getId()}').click(function() {
                $('.ui-dialog').dialog('close');
            });
        </script>
        {/foreach}
    </body>
</html>