{* Liste aller Raeume *}
<div>
    <div class="shc-view-content">
        <table class="shc-view-contentTable">
            <thead>
            <tr>
                <th style="width: 90%;">{lang var="acp.roomManagement.roomList.table.head.name"}</th>
                <th style="width: 10%;">{lang var="acpindex.options"}</th>
            </tr>
            </thead>
            <tbody>
            {foreach from=$roomList item='room'}
            <tr>
                <td>{if $room->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$room->getName()}{if $room->isEnabled() == false}</span>{/if}</td>
                <td>
                    {editlink link='index.php?app=shc&ajax=editroomform&id=' id=$room->getId()}
                    {deletelink link='index.php?app=shc&ajax=deleteroom&id=' id=$room->getId() prompt='acp.roomManagement.prompt.deleteRoom' title='acp.roomManagement.prompt.deleteRoom.title'}
                </td>
            </tr>
            {/foreach}
            </tbody>
        </table>
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton location="index.php?app=shc&page=acp"}
            {acpbutton link="index.php?app=shc&ajax=addroomform" text="acp.roomManagement.button.addRoom"}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.roomManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>