{* Benutzer erstellen Formular *}
<div>
    {if $userForm|isset}
    <div class="pcc-view-content">
        {$userForm->showForm()}
    </div>
    <div class="pcc-view-buttons">
        <div class="pcc-view-buttonSet">
            {acpbackbutton link="index.php?app=pcc&ajax=listusers"}
            {resetbutton form="#pcc-view-form-addUser"}
            {submitbutton form="#pcc-view-form-addUser" action="index.php?app=pcc&ajax=adduserform"}
        </div>
    </div>
    {elseif $message|isset}
    <div class="pcc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="pcc-view-buttons">
        <div class="pcc-view-buttonSet">
            {acpbackbutton link="index.php?app=pcc&ajax=listusers"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#pcc-view-acp-contentBox .pcc-contentbox-header').text('{lang var="acp.userManagement.title"}');
        $('.pcc-view-buttonSet').buttonset();
    });
</script>