<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='pcc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="pcc-content">
            {contentbox name="acp.userManagement.title" id='pcc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                {$groupForm->fetchStartTag()}
                <div class="pcc-view-content">
                    {$groupForm->fetchDescription()}
                    {$groupForm->fetchMessages()}
                    {$groupForm->fetchTabContainerStart()}
                    {$groupForm->fetchTabList()}
                    {foreach from=$groupForm->listTabs() item='tab'}
                    {$groupForm->fetchTab($tab)}
                    {/foreach}
                    {$groupForm->fetchTabContainerEnd()}
                    {$groupForm->fetchContainerJavaScript()}
                </div>
                <div class="pcc-view-buttons">
                    <div class="pcc-view-buttonSet">
                        <a href="index.php?app=pcc&page=listusers">{lang var='global.button.back'}</a>
                        <input type="reset" value="{lang var='form.button.reset'}" />
                        <input type="submit" value="{lang var='form.button.submit'}" />
                    </div>
                </div>
                {$groupForm->fetchEndTag()}
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.pcc-view-buttonSet').buttonset();
                });
            </script>
        </div>
    </body>
</html>