{* Startseite *}
<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='pcc.title' encodeHtml=1}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="pcc-content">
            <div id="pcc-content-tabs">
                <ul>
                    {premission premission='pcc.ucp.viewSysState'}
                    <li><a href="index.php?app=pcc&ajax=state">{lang var='index.tabs.state'}</a></li>
                    {/premission}
                    {premission premission='pcc.ucp.viewSysData'}
                    <li><a href="index.php?app=pcc&ajax=data">{lang var='index.tabs.data'}</a></li>
                    {/premission}
                    {ifsetting name='rwf.fritzBox.user'}
                        {premission premission='pcc.ucp.fbState' setting='pcc.fritzBox.showState'}
                        <li><a href="index.php?app=pcc&ajax=fbstate">{lang var='index.tabs.fbstate'}</a></li>
                        {/premission}
                        {premission premission='pcc.ucp.fbState' setting='pcc.fritzBox.showState'}
                        <li><a href="index.php?app=pcc&ajax=fbsmarthome">{lang var='index.tabs.fbsmarthome'}</a></li>
                        {/premission}
                        {premission premission='pcc.ucp.fbCallList' setting='pcc.fritzBox.showCallList'}
                        <li><a href="index.php?app=pcc&ajax=fbcalllist">{lang var='index.tabs.fbcalllist'}</a></li>
                        {/premission}
                        {premission premission='pcc.ucp.fbLog' setting='pcc.fritzBox.showLog'}
                        <li><a href="index.php?app=pcc&ajax=fblog">{lang var='index.tabs.fblog'}</a></li>
                        {/premission}
                    {/ifsetting}
                </ul>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {

                $("#pcc-content-tabs").tabs({
                    active   : $.cookie('activeTabMainViewPCC'),
                    activate : function( event, ui ){
                        $.cookie( 'activeTabMainViewPCC', ui.newTab.index(),{
                            expires : 10
                        });
                    }
                });

            });
        </script>
    </body>
</html>