<!DOCTYPE html>
<html>
<head>
    <title>{setting name='pcc.title' encodeHtml=1}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {$style->fetchHtmlHeaderTags()}
</head>
    <body>
        <div data-role="page" id="state">
            {include file='mobileHeadlineIndex.html'}
            <div data-role="content">
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-role="list-divider" role="heading">{lang var='index.box.time.title'}</li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-time"></span>
                        {/if}
                        <h1>{lang var='index.box.time.uptime'}:</h1>
                        <p>
                            <span id="state_uptime"></span>
                        </p>
                    </li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-bootTime"></span>
                        {/if}
                        <h1>{lang var='index.box.time.bootTime'}:</h1>
                        <p>
                            <span id="state_lastBootTime"></span>
                        </p>
                    </li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-clock"></span>
                        {/if}
                        <h1>{lang var='index.box.time.clock'}:</h1>
                        <p>
                            <span id="state_clock"></span>
                        </p>
                    </li>
                </ul>
                <ul data-role="listview" data-divider-theme="b" data-inset="true">
                    <li data-role="list-divider" role="heading">{lang var='index.box.system.title'}</li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-coreAvg"></span>
                        {/if}
                        <h1>{lang var='index.box.system.coreAvg'}:</h1>
                        <p>
                            <span id="state_sysload_0"></span>
                            &gt;
                            <span id="state_sysload_1"></span>
                            &gt;
                            <span id="state_sysload_2"></span>
                        </p>
                    </li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-coreClock"></span>
                        {/if}
                        <h1>{lang var='index.box.system.coreClock'}:</h1>
                        <p>
                            <span style="font-weight: bold;">{lang var='index.box.system.coreClock.current'}:</span>
                            <br/>
                            <span id="state_cpuClock"></span>
                            <br/>
                            <span style="font-weight: bold;">{lang var='index.box.system.coreClock.min'}:</span>
                            <br/>
                            <span id="state_minCpuClock"></span>
                            <br/>
                            <span style="font-weight: bold;">{lang var='index.box.system.coreClock.max'}:</span>
                            <br/>
                            <span id="state_maxCpuClock"></span>
                        </p>
                    </li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-coreTemp"></span>
                        {/if}
                        <h1>{lang var='index.box.system.coreTemp'}:</h1>
                        <p>
                            <span id="state_coreTemp"></span>&deg;C
                        </p>
                    </li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-memory"></span>
                        {/if}
                        <h1>{lang var='index.box.system.ram'}:</h1>
                        <p>
                            <span style="font-weight: bold;">{lang var='index.box.system.total'}:</span> <span id="state_memoryTotal"></span>
                            <br/>
                            <span style="font-weight: bold;">{lang var='index.box.system.used'}:</span> <span id="state_memoryUsed"></span>
                            <br/>
                            <span style="font-weight: bold;">{lang var='index.box.system.free'}:</span> <span id="state_memoryFree"></span>
                        </p>
                    </li>
                    <li>
                        {if $device != 'smartphone'}
                        <span class="pcc-icon pcc-icon-swap"></span>
                        {/if}
                        <h1>{lang var='index.box.system.swap'}:</h1>
                        <p>
                            <span style="font-weight: bold;">{lang var='index.box.system.total'}:</span> <span id="state_swapTotal"></span>
                            <br/>
                            <span style="font-weight: bold;">{lang var='index.box.system.used'}:</span> <span id="state_swapUsed"></span>
                            <br/>
                            <span style="font-weight: bold;">{lang var='index.box.system.free'}:</span> <span id="state_swapFree"></span>
                        </p>
                    </li>
                </ul>
                <ul id="pcc-view-memory" data-role="listview" data-divider-theme="b" data-inset="true"></ul>
                <ul id="pcc-view-network" data-role="listview" data-divider-theme="b" data-inset="true"></ul>
                <ul id="pcc-view-wlan" data-role="listview" data-divider-theme="b" data-inset="true"></ul>
            </div>
            <script type="text/javascript">

                //Status laden
                function loadState() {

                    //Statusdaten per Ajax holen
                    $.getJSON(
                            "index.php?app=pcc&m&ajax=statesync&hash=" + Math.floor(Math.random() * 11),
                            function(data) {

                                if (typeof data.error != 'undefined') {

                                    return;
                                }

                                $('#state_uptime').text(data.uptime);
                                $('#state_lastBootTime').text(data.lastBootTime);
                                $('#state_clock').text(data.clock);

                                $('#state_sysload_0').text(data.sysload_0);
                                $('#state_sysload_1').text(data.sysload_1);
                                $('#state_sysload_2').text(data.sysload_2);
                                $('#state_cpuClock').html(data.cpuClock);
                                $('#state_minCpuClock').html(data.cpuMinClock);
                                $('#state_maxCpuClock').html(data.cpuMaxClock);
                                $('#state_coreTemp').text(data.coreTemp);
                                $('#state_memoryTotal').text(data.memoryTotal);
                                $('#state_memoryFree').text(data.memoryFree);
                                $('#state_memoryUsed').text(data.memoryUsed);

                                $('#state_swapTotal').text(data.swapTotal);
                                $('#state_swapFree').text(data.swapFree);
                                $('#state_swapUsed').text(data.swapUsed);

                                $('#pcc-view-memory').html(data.sysMemory);
                                $('#pcc-view-memory').listview("refresh");

                                $('#pcc-view-network').html(data.network);
                                $('#pcc-view-network').listview("refresh");
                            });

                    $.getJSON(
                            "index.php?app=pcc&m&ajax=statesync&wireless=1&hash=" + Math.floor(Math.random() * 11),
                            function(data) {

                                if (typeof data.error != 'undefined') {

                                    return;
                                }

                                $('#pcc-view-wlan').html(data.wireless);
                                $('#pcc-view-wlan').listview("refresh");
                            });
                }

                $('#state').on('pagecreate', function() {

                    //automatisch aktualisieren
                    var reloadState = function() {

                        loadState();
                        window.setTimeout(reloadState, 10000);
                    }
                    reloadState();
                });
            </script>
        </div>
    </body>
</html>