{* Schaltserver bearbeiten Formular *}
<div>
    {if $switchServerForm|isset}
    <div class="shc-view-content">
        {$switchServerForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchservers"}
            {resetbutton form="#shc-view-form-editSwitchServer"}
            {submitbutton form="#shc-view-form-editSwitchServer" action="index.php?app=shc&ajax=editswitchserverform" id=$switchServer->getId()}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchservers"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.switchserverManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>