{* SensorPunkt loeschen Formular *}
<div>
    <div class="shc-view-content">
        {$message->fetchHtml()}
        {if $message1|isset}
        {$message1->fetchHtml()}
        {/if}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listsensorpoints"}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.sensorpointsManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>