{* Benutzergruppe erstellen Formular *}
<div>
    {if $groupForm|isset}
    <div class="shc-view-content">
        {$groupForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listgroups"}
            {resetbutton form="#shc-view-form-addGroup"}
            {submitbutton form="#shc-view-form-addGroup" action="index.php?app=shc&ajax=addgroupform"}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listgroups"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.userManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>