{* Benutzerliste *}
<div>
    <div class="shc-view-content">
        <table class="shc-view-contentTable">
            <thead>
                <tr>
                    <th style="width: 70%;">{lang var="acp.userManagement.userList.table.head.user"}</th>
                    <th style="width: 20%;">{lang var="acp.userManagement.userList.table.head.registrationDate"}</th>
                    <th style="width: 10%;">{lang var="acpindex.options"}</th>
                </tr>
            </thead>
            <tbody>
                {foreach from=$userList item='user'}
                <tr>
                    <td>{#$user->getName()}</td>
                    <td>{$user->getRegisterDate()|timeline}</td>
                    <td>
                        {editlink link='index.php?app=shc&ajax=edituserform&id=' id=$user->getId()}
                        {if $user->isOriginator() == false}
                        {deletelink link='index.php?app=shc&ajax=deleteuser&id=' id=$user->getId() prompt='acp.userManagement.prompt.deleteUser' title='acp.userManagement.prompt.deleteUser.title'}
                        {/if}
                    </td>
                </tr>
                {/foreach}
            </tbody>
        </table>
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton location="index.php?app=shc&page=acp"}
            {acpbutton link="index.php?app=shc&ajax=listgroups" text="acp.userManagement.button.viewGroupList"}
            {acpbutton link="index.php?app=shc&ajax=adduserform" text="acp.userManagement.button.addUser"}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.userManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>