<!DOCTYPE html>
<html>
    <head>
        <title>Test Formular</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <script type="text/javascript" src="./rwf/inc/js/jquery.js"></script>
        <link rel="stylesheet" type="text/css" href="./rwf/inc/style/mobile/default/jquery_mobile.css" />
        <script type="text/javascript" src="./rwf/inc/js/jquery_mobile.js"></script>
    </head>
    <body>
        <div data-role="page">
            <div data-role="header">
                <h1>Test Formular</h1>
            </div><!-- /header -->
            <div role="main" class="ui-content">
                {$form->fetchStartTag()}
                {$form->fetchDescription()}
                {$form->fetchMessages()}
                {$form->fetchAllElements()}
                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all">Submit</button>
                {$form->fetchEndTag()}
            </div><!-- /content -->
        </div><!-- /page -->
    </body>
</html>
