<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='mb.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="mb-content">
            {contentbox name="acp.settings.title" id='mb-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                {$settingsForm->fetchStartTag()}
                <div class="mb-view-content">
                    {$settingsForm->fetchDescription()}
                    {$settingsForm->fetchMessages()}
                    {$settingsForm->fetchTabContainerStart()}
                    {$settingsForm->fetchTabList()}
                    {foreach from=$settingsForm->listTabs() item='tab'}
                    {$settingsForm->fetchTab($tab)}
                    {/foreach}
                    {$settingsForm->fetchTabContainerEnd()}
                    {$settingsForm->fetchContainerJavaScript()}
                </div>
                <div class="mb-view-buttons">
                    <div class="mb-view-buttonSet">
                        <a href="index.php?app=mb&page=acp">{lang var='global.button.back'}</a>
                        <input type="reset" value="{lang var='form.button.reset'}" />
                        <input type="submit" value="{lang var='form.button.submit'}" />
                    </div>
                </div>
                {$settingsForm->fetchEndTag()}
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.mb-view-buttonSet').buttonset();
                });
            </script>
        </div>
    </body>
</html>