<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{setting name='shc.title' encodeHtml=1}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        <div data-role="page" id="home">
            {include file='mobileHeadlineIndex.html'}
            <div data-role="content">
                <h2 style="text-align: center;">{lang var="acp.switchpointsManagment.title"}</h2>
                {if $message|isset}{$message->fetchHtml()}{/if}
                <ul data-role="listview" data-split-icon="delete" data-inset="true" data-split-theme="a">
                    {foreach from=$switchPointsList item='switchPoint'}
                    <li>
                        <a href="#tooltip-{$switchPoint->getId()}" data-rel="dialog">
                            <h2>
                                {if $switchPoint->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$switchPoint->getName()}{if $switchPoint->isEnabled() == false}</span>{/if}
                            </h2>
                            <p>{lang var="acp.switchpointsManagment.switchPointList.table.head.lastExecute"}: {if $switchPoint->getLastExecute()->format('d.m.Y') != '01.01.2000'}{$switchPoint->getLastExecute()|timeline}{else}{lang var="acp.switchpointsManagment.switchPointList.table.head.lastExecute.never"}{/if}</p>
                        </a>
                        <a href="#delete-{$switchPoint->getId()}" data-rel="dialog">{lang var="acpindex.options"}</a>
                    </li>
                    {foreachelse}
                    <li>
                        <h2>{lang var='acpindex.emptyList'}</h2>
                    </li>
                    {/foreach}
                </ul>
            </div>
            <div data-role="footer" data-theme="b" data-position="fixed">
                <div data-role="navbar" data-iconpos="top">
                    <ul>
                        <li><a href="index.php?app=shc&m&page=listswitchpoints" data-icon="refresh">{lang var="acpindex.reload"}</a></li>
                        <li><a href="index.php?app=shc&m&page=addswitchpointform" data-icon="plus">{lang var='acp.switchpointsManagment.button.addSwitchPoint'}</a></li>
                    </ul>
                </div>
            </div>
        </div>
        {foreach from=$switchPointsList item='switchPoint'}
        <div data-role="page" id="tooltip-{$switchPoint->getId()}" data-dialog="true">
            <div data-role="header" data-theme="a">
                <h1>{#$switchPoint->getName()}</h1>
            </div>
            <div role="main" class="ui-content">
                {$switchPoint->fetchTooltip()}
                <a href="index.php?app=shc&m&page=editswitchpointform&id={$switchPoint->getId()}" class="ui-btn">{lang var='global.button.edit'}</a>
            </div>
        </div>
        <div data-role="page" id="delete-{$switchPoint->getId()}">
            <div data-role="header" data-theme="a">
                <h1>{lang var="acp.switchpointsManagment.prompt.deleteSwitchPoint.title"}</h1>
            </div>
            <div data-role="main" class="ui-content">
                <p>{lang var="acp.switchpointsManagment.prompt.deleteSwitchPoint"}</p>
                <a href="index.php?app=shc&m&action=deleteswitchpoint&id={$switchPoint->getId()}" class="ui-btn ui-corner-all ui-shadow">{lang var="global.yes"}</a>
                <a href="#" class="ui-btn ui-corner-all ui-shadow" data-transition="flow" id="delete-close-{$switchPoint->getId()}">{lang var="global.no"}</a>
            </div>
        </div>
        <script type="text/javascript">
            $('#delete-close-{$switchPoint->getId()}').click(function() {
                $('.ui-dialog').dialog('close');
            });
        </script>
        {/foreach}
    </body>
</html>