<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>{setting name='shc.title' encodeHtml=1}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        <div data-role="page" id="event">
            {include file='mobileHeadlineIndex.html'}
            <div data-role="content">
                {if $message|isset}{$message->fetchHtml()}{/if}
                <ul data-role="listview" data-inset="true">
                    <li data-role="list-divider">{lang var='acp.switchpointsManagment.title.info'}</li>
                    <li>{lang var='acp.switchpointsManagment.switchPointList.table.head.name'}: {#$switchPoint->getName()}</li>
                    <li>{lang var="acp.switchpointsManagment.switchPointList.table.head.command"}: {if $switchPoint->getCommand() == 1}{lang var="global.on"}{elseif $switchPoint->getCommand() == 4}{lang var="global.toggle"}{else}{lang var="global.off"}{/if}</li>
                    <li>{lang var="acp.switchpointsManagment.switchPointList.table.head.lastExecute"}: {if $switchPoint->getLastExecute()->format('d.m.Y') != '01.01.2000'}{$switchPoint->getLastExecute()|timeline}{else}{lang var="acp.switchpointsManagment.switchPointList.table.head.lastExecute.never"}{/if}</li>
                </ul>
                <ul data-role="listview" data-split-icon="delete" data-inset="true" data-split-theme="a">
                    <li data-role="list-divider">{lang var='acp.switchpointsManagment.title.conditions'}</li>
                    {foreach from=$conditionList item='condition'}
                    {instanceof element=$condition class='\SHC\Condition\Condition'}
                    <li>
                        <a href="#">
                            <h2>
                                {if $condition->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$condition->getName()}{if $condition->isEnabled() == false}</span>{/if}
                            </h2>
                            <p>
                                {lang var="acp.switchableManagement.elementTable.table.head.type"}:
                                {$condition->getTypeName()}
                            </p>
                        </a>
                        <a href="index.php?app=shc&m&action=deleteconditionfromswitchpoint&id={$switchPoint->getId()}&condition={$condition->getId()}">{lang var="acpindex.options"}</a>
                    </li>
                    {/instanceof}
                    {foreachelse}
                    <li>
                        {lang var='acpindex.emptyList'}
                    </li>
                    {/foreach}
                    <li>
                        <a href="#addCondition" data-rel="dialog">
                            <h2>{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</h2>
                        </a>
                    </li>
                </ul>
                <ul data-role="listview" data-split-icon="delete" data-inset="true" data-split-theme="a">
                    <li data-role="list-divider">{lang var='acp.switchpointsManagment.title.switchables'}</li>
                    {foreach from=$elementList item='element'}
                    {instanceof element=$element class='\SHC\Switchable\Switchable'}
                    <li>
                        <a href="#">
                            <h2>
                                {if $element->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isEnabled() == false}</span>{/if}
                            </h2>
                            <p>
                                {$element->getTypeName()}
                            </p>
                        </a>
                        <a href="index.php?app=shc&m&action=deleteswitchablefromswitchpoint&id={$switchPoint->getId()}&element={$element->getId()}">{lang var="acpindex.options"}</a>
                    </li>
                    {/instanceof}
                    {foreachelse}
                    <li>
                        {lang var='acpindex.emptyList'}
                    </li>
                    {/foreach}
                    <li>
                        <a href="#addSwitchable" data-rel="dialog">
                            <h2>{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</h2>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div data-role="page" id="addCondition">
            <div data-role="header" data-theme="a">
                <h1>{lang var="acp.switchpointsManagment.title.addCondition"}</h1>
            </div>
            <div data-role="main" class="ui-content">
                {$conditionChooser->fetch(4)}
                <a href="#" id="shc-view-switchpointsManagment-addConditionEvent" class="ui-btn">{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</a>
                <script type="text/javascript">
                    $(document).on('pageinit', '#event', function() {

                        $('#shc-view-switchpointsManagment-addConditionEvent').click(function() {

                            var condition = $('select[name=condition]').val();
                            window.location = "index.php?app=shc&m&action=addconditiontoswitchpoint&id={$switchPoint->getId()}&condition="+ condition;
                        });
                    });
                </script>
            </div>
        </div>
        <div data-role="page" id="addSwitchable">
            <div data-role="header" data-theme="a">
                <h1>{lang var="acp.switchpointsManagment.title.addSwitchable"}</h1>
            </div>
            <div data-role="main" class="ui-content">
                {$elementChooser->fetch(4)}
                <a href="#" id="shc-view-switchpointsManagment-addSwitchableEvent" class="ui-btn">{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</a>
                <script type="text/javascript">
                    $(document).on('pageinit', '#event', function() {

                        $('#shc-view-switchpointsManagment-addSwitchableEvent').click(function() {

                            var element = $('select[name=element]').val();
                            window.location = "index.php?app=shc&m&action=addswitchabletoswitchpoint&id={$switchPoint->getId()}&element="+ element;
                        });
                    });
                </script>
            </div>
        </div>
    </body>
</html>