<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.switchableManagement.title" id='shc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                <div class="shc-view-content">
                    <div id="shc-view-tabs">
                        <ul>
                            <li><a href="#shc-view-radioSockets">{lang var='acp.switchableManagement.radioSockets'}</a></li>
                            <li><a href="#shc-view-gpios">{lang var='acp.switchableManagement.gpios'}</a></li>
                        </ul>
                        <div id="shc-view-radioSockets">
                            {foreach from=$radioSockets item='radioSocketGroup'}
                            {foreach from=$radioSocketGroup item='radioSocket' name='radioSockets'}
                            {if $tpl.foreach.radioSockets.first}
                            <br/>
                            <h2>{lang var='acp.switchableManagement.radioSockets.sysCode'} {$radioSocket.sysCodeBin} ({$radioSocket.sysCodeDec})</h2>
                            <hr/>
                            <table class="shc-view-contentTable">
                                <thead>
                                <tr>
                                    <th style="width: 20%;">{lang var='acp.switchableManagement.elementTable.table.head.devCode'}</th>
                                    <th style="width: 80%;">{lang var='acp.switchableManagement.elementTable.table.head.name'}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {/if}
                                <tr>
                                    <td>{$radioSocket.devCode}</td>
                                    <td>{#$radioSocket.name} ({#$radioSocket.rooms|implode:', '})</td>
                                </tr>
                                {if $tpl.foreach.radioSockets.last}
                                </tbody>
                            </table>
                            {/if}
                            {/foreach}
                            {foreachelse}
                            <h2>{lang var='acpindex.emptyList'}</h2>
                            {/foreach}
                        </div>
                        <div id="shc-view-gpios">
                            {foreach from=$gpios item='gpioGroup'}
                            {foreach from=$gpioGroup item='gpio' name='gpios'}
                            {if $tpl.foreach.gpios.first}
                            <br/>
                            <h2>
                                {lang var='acp.switchableManagement.gpios.switchserver'} {#$gpio.switchServer}
                                (
                                {if $gpio.model == 1}
                                Raspberry Pi Model A
                                {elseif $gpio.model == 2}
                                Raspberry Pi Model B
                                {elseif $gpio.model == 4}
                                Raspberry Pi Model B+
                                {elseif $gpio.model == 8}
                                Raspberry Pi Model A+
                                {elseif $gpio.model == 16}
                                Raspberry Pi Compute Modul
                                {elseif $gpio.model == 32}
                                Raspberry Pi 2 Model B
                                {elseif $gpio.model == 65536}
                                Arduino Pro Mini
                                {elseif $gpio.model == 131072}
                                Arduino Nano
                                {elseif $gpio.model == 262144}
                                Arduino Uno
                                {elseif $gpio.model == 524288}
                                Arduino Mega
                                {elseif $gpio.model == 1048576}
                                Arduino Due
                                {/if}
                                )
                            </h2>
                            <hr/>
                            <table class="shc-view-contentTable">
                                <thead>
                                <tr>
                                    <th style="width: 20%;">{lang var='acp.switchableManagement.elementTable.table.head.pin'}</th>
                                    <th style="width: 20%;">{lang var='acp.switchableManagement.elementTable.table.head.type'}</th>
                                    <th style="width: 60%;">{lang var='acp.switchableManagement.elementTable.table.head.name'}</th>
                                </tr>
                                </thead>
                                <tbody>
                                {/if}
                                <tr>
                                    <td>{$gpio.pin}</td>
                                    <td>{#$gpio.type}</td>
                                    <td>{#$gpio.name} ({#$gpio.rooms|implode:', '})</td>
                                </tr>
                                {if $tpl.foreach.gpios.last}
                                </tbody>
                            </table>
                            {/if}
                            {/foreach}
                            {foreachelse}
                            <h2>{lang var='acpindex.emptyList'}</h2>
                            {/foreach}
                        </div>
                    </div>
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=listswitchables">{lang var='global.button.back'}</a>
                    </div>
                </div>
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.shc-view-buttonSet').buttonset();
                    $('#shc-view-tabs').tabs();
                });
            </script>
        </div>
    </body>
</html>