<div>
    {if $elementForm|isset}
    <div class="shc-view-content">
        {$elementForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchables"}
            {resetbutton form="#shc-view-form-editElement"}
            {submitbutton form="#shc-view-form-editElement" action="index.php?app=shc&ajax=editelementform" id=$element->getId()}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchables"}
        </div>
        <script type="text/javascript">
            $(function() {
                $('.shc-view-buttonSet').buttonset();
            });
        </script>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.switchableManagement.title"}');
        $('.shc-view-buttonSet').buttonset();

        {instanceof element=$elementForm class='\SHC\Form\Forms\RpiGpioOutputForm'}
        var value = $('select[name=gpio]').val();
        var switchServerId = $('select[name=switchServer]').val();
        $.get("index.php?app=shc&a&ajax=switchservergetgpio&id=" + switchServerId + "&hash=" + Math.floor(Math.random() * 11), function(data) {

            $('select[name=gpio]').html(data);
            $('select[name=gpio]').val(value);
        });
        $('select[name=switchServer]').change(function () {
            var switchServerId = $('select[name=switchServer]').val();

            $.get("index.php?app=shc&a&ajax=switchservergetgpio&id=" + switchServerId + "&hash=" + Math.floor(Math.random() * 11), function(data) {

                var value = $('select[name=gpio]').val();
                $('select[name=gpio]').html(data);
                $('select[name=gpio]').val(value);
            });
        });
        {/instanceof}
        {instanceof element=$elementForm class='\SHC\Form\Forms\RpiGpioInputForm'}
        var value = $('select[name=gpio]').val();
        var switchServerId = $('select[name=switchServer]').val();
        $.get("index.php?app=shc&a&ajax=switchservergetgpio&id=" + switchServerId + "&hash=" + Math.floor(Math.random() * 11), function(data) {

            $('select[name=gpio]').html(data);
            $('select[name=gpio]').val(value);
        });
        $('select[name=switchServer]').change(function () {
            var switchServerId = $('select[name=switchServer]').val();

            $.get("index.php?app=shc&a&ajax=switchservergetgpio&id=" + switchServerId + "&hash=" + Math.floor(Math.random() * 11), function(data) {

                var value = $('select[name=gpio]').val();
                $('select[name=gpio]').html(data);
                $('select[name=gpio]').val(value);
            });
        });
        {/instanceof}
    });
</script>