<div>
    {if $elementForm|isset}
    <div class="shc-view-content">
        {$elementForm->showForm()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchables"}
            {resetbutton form="#shc-view-form-editElement"}
            {submitbutton form="#shc-view-form-editElement" action="index.php?app=shc&ajax=editelementform" id=$element->getId()}
        </div>
    </div>
    {elseif $message|isset}
    <div class="shc-view-content">
        {$message->fetchHtml()}
    </div>
    <div class="shc-view-buttons">
        <div class="shc-view-buttonSet">
            {acpbackbutton link="index.php?app=shc&ajax=listswitchables"}
        </div>
    </div>
    {/if}
</div>
<script type="text/javascript">
    $(function() {

        $('#shc-view-acp-contentBox .shc-contentbox-header').text('{lang var="acp.switchableManagement.title"}');
        $('.shc-view-buttonSet').buttonset();
    });
</script>