<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.switchableManagement.title" id='shc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                <div class="shc-view-content">
                    <div id="shc-view-switchableManagement-tabs">
                        <ul>
                            {foreach from=$roomList item='room'}
                            <li><a href="#shc-view-switchableManagement-tabs-room-{$room->getId()}">{if $room->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$room->getName()}{if $room->isEnabled() == false}</span>{/if}</a></li>
                            {/foreach}
                            <li><a href="index.php?app=shc&ajax=listelementswithoutroom">{lang var="acp.switchableManagement.button.listElementsWithoutRoom"}</a></li>
                        </ul>
                        <form id="shc-view-contentTable-sortable-form" action="index.php?app=shc&action=saveswitchableorder" method="post">
                            {foreach from=$roomList item='room'}
                            <div id="shc-view-switchableManagement-tabs-room-{$room->getId()}">
                                <table class="shc-view-contentTable" id="shc-view-contentTable-sortable-{$room->getId()}">
                                    <thead>
                                    <tr class="shc-view-contentTable-head">
                                        <th style="width: 70%;">{lang var="acp.switchableManagement.elementTable.table.head.name"}</th>
                                        <th style="width: 20%;">{lang var="acp.switchableManagement.elementTable.table.head.type"}</th>
                                        <th style="width: 10%;">{lang var="acpindex.options"}</th>
                                    </tr>
                                    </thead>
                                    <tbody  class="shc-view-contentTable-firstLevel">
                                    {foreach from=$viewHelperEditor->getViewHelperForRoom($room->getId())->listElementsOrdered() item='element'}

                                    {* schaltbare Elemente *}
                                    {instanceof element=$element class='\SHC\Switchable\Switchable'}
                                    <tr>
                                        <td>
                                            <a href="#" id="shc-view-show-switchFunctions-{$element->getId()}">{if $element->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isEnabled() == false}</span>{/if}</a>
                                            <script type="text/javascript">
                                                $('#shc-view-show-switchFunctions-{$element->getId()}').click(function() {

                                                    $.get("index.php?app=shc&ajax=listswitchfunctions&id={$element->getId()}", function(data, textStatus, jqXHR) {
                                                        $('#shc-view-showSwitchFunctions-frame').html(data);
                                                        $('#shc-view-showSwitchFunctions-frame').attr('title', '{#$element->getName()}');
                                                        $('#shc-view-showSwitchFunctions-frame').dialog( {
                                                            resizable: false,
                                                            height: 500,
                                                            width: 500,
                                                            modal: true
                                                        } );
                                                    });
                                                });
                                            </script>
                                        </td>
                                        <td>
                                            {$element->getTypeName()}
                                        </td>
                                        <td>
                                            {instanceof element=$element class='\SHC\Switchable\Switchables\Activity'}
                                            {editlist link='index.php?app=shc&page=manageswitchablecontainers&id=' id=$element->getId()}
                                            {/instanceof}
                                            {instanceof element=$element class='\SHC\Switchable\Switchables\Countdown'}
                                            {editlist link='index.php?app=shc&page=manageswitchablecontainers&id=' id=$element->getId()}
                                            {/instanceof}
                                            {editlink link='index.php?app=shc&page=editelementform&id=' id=$element->getId()}
                                            {deletelink link='index.php?app=shc&action=deleteelement&id=' id=$element->getId() prompt='acp.switchableManagement.prompt.deleteSwitchable' title='acp.switchableManagement.prompt.deleteSwitchable.title'}
                                            <input type="hidden" name="switchableOrder[{$room->getId()}][{$element->getId()}]" value="{$element->getOrderId($room->getId())}" />
                                        </td>
                                    </tr>
                                    {/instanceof}

                                    {* lesbares Elemente *}
                                    {instanceof element=$element class='\SHC\Switchable\Readable'}
                                    <tr>
                                        <td>{if $element->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isEnabled() == false}</span>{/if}</td>
                                        <td>
                                            {$element->getTypeName()}
                                        </td>
                                        <td>
                                            {editlink link='index.php?app=shc&page=editelementform&id=' id=$element->getId()}
                                            {deletelink link='index.php?app=shc&action=deleteelement&id=' id=$element->getId() prompt='acp.switchableManagement.prompt.deleteReadable' title='acp.switchableManagement.prompt.deleteReadable.title'}
                                            <input type="hidden" name="switchableOrder[{$room->getId()}][{$element->getId()}]" value="{$element->getOrderId($room->getId())}" />
                                        </td>
                                    </tr>
                                    {/instanceof}

                                    {* Sensoren *}
                                    {instanceof element=$element class='\SHC\Sensor\Sensor'}
                                    <tr>
                                        <td>{if $element->isVisible() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isVisible() == false}</span>{/if}</td>
                                        <td>
                                            {$element->getTypeName()}
                                        </td>
                                        <td>
                                            {editlink link='index.php?app=shc&page=editsensorform&id=' id=$element->getId()}
                                            {deletelink link='index.php?app=shc&action=deletesensor&id=' id=$element->getId() prompt='acp.switchableManagement.prompt.deleteSensor' title='acp.switchableManagement.prompt.deleteSensor.title'}
                                            <input type="hidden" name="sensorOrder[{$room->getId()}][{$element->getId()}]" value="{$element->getOrderId($room->getId())}" />
                                        </td>
                                    </tr>
                                    {/instanceof}

                                    {* Boxen *}
                                    {instanceof element=$element class='\SHC\View\Room\ViewHelperBox'}
                                    <tr>
                                        <td colspan="3">
                                            <div class="shc-view-switchableManagement-innerTableBox">
                                                <table class="shc-view-contentTable" id="shc-view-contentTable-innerTable-{$element->getBoxId()}">
                                                    <thead>
                                                    <tr class="shc-view-contentTable-head">
                                                        <th style="width: 70%;">
                                                            {#$element->getName()}
                                                        </th>
                                                        <th style="width: 20%;">{lang var="acp.switchableManagement.element.box"}</th>
                                                        <th style="width: 10%;">
                                                            {editlink link='index.php?app=shc&page=editboxform&id=' id=$element->getBoxId()}
                                                            {deletelink link='index.php?app=shc&action=deletebox&id=' id=$element->getBoxId() prompt='acp.switchableManagement.prompt.deleteBox' title='acp.switchableManagement.prompt.deleteBox.title'}
                                                            <input type="hidden" name="boxOrder[{$element->getBoxId()}]" value="{$element->getBoxOrderId()}" />
                                                        </th>
                                                    </tr>
                                                    </thead>
                                                    <tbody class="shc-view-contentTable-secondLevel">
                                                    {foreach from=$element->listElementsOrdered() item='boxElement'}

                                                    {* schaltbare Elemente *}
                                                    {instanceof element=$boxElement class='\SHC\Switchable\Switchable'}
                                                    <tr>
                                                        <td>
                                                            <a href="#" id="shc-view-show-switchFunctions-{$boxElement->getId()}">{if $boxElement->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$boxElement->getName()}{if $boxElement->isEnabled() == false}</span>{/if}</a>
                                                            <script type="text/javascript">
                                                                $('#shc-view-show-switchFunctions-{$boxElement->getId()}').click(function() {

                                                                    $.get("index.php?app=shc&ajax=listswitchfunctions&id={$boxElement->getId()}", function(data, textStatus, jqXHR) {
                                                                        $('#shc-view-showSwitchFunctions-frame').html(data);
                                                                        $('#shc-view-showSwitchFunctions-frame').attr('title', '{#$boxElement->getName()}');
                                                                        $('#shc-view-showSwitchFunctions-frame').dialog( {
                                                                            resizable: false,
                                                                            height: 500,
                                                                            width: 500,
                                                                            modal: true
                                                                        } );
                                                                    });
                                                                });
                                                            </script>
                                                        </td>
                                                        <td>
                                                            {$boxElement->getTypeName()}
                                                        </td>
                                                        <td>
                                                            {instanceof element=$boxElement class='\SHC\Switchable\Switchables\Activity'}
                                                            {editlist link='index.php?app=shc&page=manageswitchablecontainers&id=' id=$boxElement->getId()}
                                                            {/instanceof}
                                                            {instanceof element=$boxElement class='\SHC\Switchable\Switchables\Countdown'}
                                                            {editlist link='index.php?app=shc&page=manageswitchablecontainers&id=' id=$boxElement->getId()}
                                                            {/instanceof}
                                                            {editlink link='index.php?app=shc&page=editelementform&id=' id=$boxElement->getId()}
                                                            {deletelink link='index.php?app=shc&action=deleteelement&id=' id=$boxElement->getId() prompt='acp.switchableManagement.prompt.deleteSwitchable' title='acp.switchableManagement.prompt.deleteSwitchable.title'}
                                                            <input type="hidden" name="switchableOrder[{$room->getId()}][{$boxElement->getId()}]" value="{$boxElement->getOrderId($room->getId())}" />
                                                        </td>
                                                    </tr>
                                                    {/instanceof}

                                                    {* lesbare Elemente *}
                                                    {instanceof element=$boxElement class='\SHC\Switchable\Readable'}
                                                    <tr>
                                                        <td>{if $boxElement->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$boxElement->getName()}{if $boxElement->isEnabled() == false}</span>{/if}</td>
                                                        <td>
                                                            {$boxElement->getTypeName()}
                                                        </td>
                                                        <td>
                                                            {editlink link='index.php?app=shc&page=editelementform&id=' id=$boxElement->getId()}
                                                            {deletelink link='index.php?app=shc&action=deleteelement&id=' id=$boxElement->getId() prompt='acp.switchableManagement.prompt.deleteReadable' title='acp.switchableManagement.prompt.deleteReadable.title'}
                                                            <input type="hidden" name="switchableOrder[{$room->getId()}][{$boxElement->getId()}]" value="{$boxElement->getOrderId($room->getId())}" />
                                                        </td>
                                                    </tr>
                                                    {/instanceof}

                                                    {* Sensoren *}
                                                    {instanceof element=$boxElement class='\SHC\Sensor\Sensor'}
                                                    <tr>
                                                        <td>{if $boxElement->isVisible() == false}<span style="text-decoration: line-through;">{/if}{#$boxElement->getName()}{if $boxElement->isVisible() == false}</span>{/if}</td>
                                                        <td>
                                                            {$boxElement->getTypeName()}
                                                        </td>
                                                        <td>
                                                            {editlink link='index.php?app=shc&page=editsensorform&id=' id=$boxElement->getId()}
                                                            {deletelink link='index.php?app=shc&action=deletesensor&id=' id=$boxElement->getId() prompt='acp.switchableManagement.prompt.deleteSensor' title='acp.switchableManagement.prompt.deleteSensor.title'}
                                                            <input type="hidden" name="sensorOrder[{$room->getId()}][{$boxElement->getId()}]" value="{$boxElement->getOrderId($room->getId())}" />
                                                        </td>
                                                    </tr>
                                                    {/instanceof}
                                                    {foreachelse}
                                                    <tr>
                                                        <td colspan="3">{lang var='acpindex.emptyList'}</td>
                                                    </tr>
                                                    {/foreach}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </td>
                                    </tr>
                                    {/instanceof}
                                    {foreachelse}
                                    <tr>
                                        <td colspan="3">{lang var='acpindex.emptyList'}</td>
                                    </tr>
                                    {/foreach}
                                    </tbody>
                                </table>
                            </div>
                            {/foreach}
                        </form>
                    </div>
                    <div id="shc-view-showSwitchFunctions-frame" title="" style="display: none;"></div>
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=acp">{lang var='global.button.back'}</a>
                        <a href="index.php?app=shc&page=assignment">{lang var='acp.switchableManagement.button.assignment'}</a>
                        <button id="shc-view-button-sort">{lang var="acpindex.sort"}</button>
                        <a href="index.php?app=shc&page=addelementform">{lang var='acp.switchableManagement.button.addElement'}</a>
                        <a href="index.php?app=shc&page=addboxform">{lang var='acp.switchableManagement.button.addBox'}</a>
                    </div>
                </div>
            {/contentbox}
            <script type="text/javascript">

                //Hilfsfunktion sortierung
                var fixHelper = function(e, ui) {
                    ui.children().each(function() {
                        $(this).width($(this).width());
                    });
                    return ui;
                };

                $(function() {

                    $('.shc-view-buttonSet').buttonset();
                    $('.shc-view-buttons-add').tooltip();

                    $("#shc-view-switchableManagement-tabs").tabs({
                        active   : $.cookie('activeTabSwitchables'),
                        activate : function( event, ui ){
                            $.cookie( 'activeTabSwitchables', ui.newTab.index(),{
                                expires : 10
                            });
                        }
                    });

                    //Sortierung
                    $('#shc-view-button-sort').click(function () {

                        {foreach from=$roomList item='room'}
                            $("#shc-view-contentTable-sortable-{$room->getId()} tbody.shc-view-contentTable-firstLevel").sortable({
                                handle: "td",
                                cursor: 'move',
                                helper: fixHelper,
                                placeholder: {
                                    element: function(currentItem) {
                                        return $('<tr class="shc-view-contentTable-sortable-placeholder"><td colspan="2"></td></tr>')[0];
                                    },
                                    update: function(container, p) {
                                        return;
                                    }
                                },
                                stop: function() {

                                    //Sortierungs IDs in die versteckten Felder eintragen
                                    $('#shc-view-contentTable-sortable-form').find('input').each(function(index) {
                                        $(this).val(index + 1);
                                    });
                                }
                            });
                            $("#shc-view-contentTable-sortable-{$room->getId()} tbody.shc-view-contentTable-firstLevel").disableSelection();
                            {foreach from=$viewHelperEditor->getViewHelperForRoom($room->getId())->listElementsOrdered() item='element'}
                                {instanceof element=$element class='\SHC\View\Room\ViewHelperBox'}
                                    $("#shc-view-contentTable-innerTable-{$element->getBoxId()} tbody.shc-view-contentTable-secondLevel").sortable({
                                        handle: "td",
                                        cursor: 'move',
                                        helper: fixHelper,
                                        placeholder: {
                                            element: function(currentItem) {
                                                return $('<tr class="shc-view-contentTable-sortable-placeholder"><td colspan="2"></td></tr>')[0];
                                            },
                                            update: function(container, p) {
                                                return;
                                            }
                                        },
                                        stop: function() {

                                            //Sortierungs IDs in die versteckten Felder eintragen
                                            $('#shc-view-contentTable-sortable-form').find('input').each(function(index) {
                                                $(this).val(index + 1);
                                            });
                                        }
                                    });
                                    $("#shc-view-contentTable-innerTable-{$element->getBoxId()} tbody.shc-view-contentTable-secondLevel").disableSelection();
                                {/instanceof}
                            {/foreach}
                        {/foreach}

                        $('#shc-view-button-sort').button({
                            label: '{lang var="acpindex.save"}'
                        });
                        $('#shc-view-button-sort').click(function () {

                            $('#shc-view-contentTable-sortable-form').submit();
                        });
                    })
                });
            </script>
        </div>
    </body>
</html>