{* Liste aller schaltbaren Elemente ohne Raum *}
<div>
    <div class="shc-view-content">
                <table class="shc-view-contentTable">
                    <thead>
                    <tr>
                        <th style="width: 70%;">{lang var="acp.switchableManagement.elementTable.table.head.name"}</th>
                        <th style="width: 20%;">{lang var="acp.switchableManagement.elementTable.table.head.type"}</th>
                        <th style="width: 10%;">{lang var="acpindex.options"}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {foreach from=$switchables item='element'}
                    {instanceof element=$element class='\SHC\Switchable\Switchable'}
                    <tr>
                        <td>{if $element->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isEnabled() == false}</span>{/if}</td>
                        <td>
                            {$element->getTypeName()}
                        </td>
                        <td>
                            {editlink link='index.php?app=shc&page=editelementform&id=' id=$element->getId()}
                            {deletelink link='index.php?app=shc&action=deleteelement&id=' id=$element->getId() prompt='acp.switchableManagement.prompt.deleteSwitchable' title='acp.switchableManagement.prompt.deleteSwitchable.title'}
                        </td>
                    </tr>
                    {/instanceof}

                    {* lesbares Elemente *}
                    {instanceof element=$element class='\SHC\Switchable\Readable'}
                    <tr>
                        <td>{if $element->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isEnabled() == false}</span>{/if}</td>
                        <td>
                            {$element->getTypeName()}
                        </td>
                        <td>
                            {editlink link='index.php?app=shc&page=editelementform&id=' id=$element->getId()}
                            {deletelink link='index.php?app=shc&action=deleteelement&id=' id=$element->getId() prompt='acp.switchableManagement.prompt.deleteReadable' title='acp.switchableManagement.prompt.deleteReadable.title'}
                        </td>
                    </tr>
                    {/instanceof}
                    {/foreach}
                    {foreach from=$sensors item='element'}
                    {instanceof element=$element class='\SHC\Sensor\Sensor'}
                    <tr>
                        <td>{if $element->isVisible() == false}<span style="text-decoration: line-through;">{/if}{#$element->getName()}{if $element->isVisible() == false}</span>{/if}</td>
                        <td>
                            {$element->getTypeName()}
                        </td>
                        <td>
                            {editlink link='index.php?app=shc&page=editsensorform&id=' id=$element->getId()}
                            {deletelink link='index.php?app=shc&action=deletesensor&id=' id=$element->getId() prompt='acp.switchableManagement.prompt.deleteSensor' title='acp.switchableManagement.prompt.deleteSensor.title'}
                        </td>
                    </tr>
                    {/instanceof}
                    {foreachelse}
                    <tr>
                        {if $switchables|count == 0 && $sensors|count == 0}
                        <td colspan="3">{lang var='acpindex.emptyList'}</td>
                        {/if}
                    </tr>
                    {/foreach}
                    </tbody>
                </table>
        </div>
    </div>
</div>