<!DOCTYPE html>
<html>
    <head>
        <title>{setting name='shc.title' encodeHtml=1} - {lang var='acpindex.text.acp'}</title>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        {$style->fetchHtmlHeaderTags()}
    </head>
    <body>
        {include file='headline.html'}
        <div id="shc-content">
            {contentbox name="acp.switchableManagement.title" id='shc-view-acp-contentBox'}
                {if $message|isset}
                    {$message->fetchHtml()}
                {/if}
                <div class="shc-view-content">
                    <h2 style="text-align: center;">{#$SwitchableContainer->getName()}</h2>
                    <table class="shc-view-contentTable">
                        <thead>
                        <tr>
                            <th style="width: 40%;">{lang var="acp.switchableManagement.elementTable.table.head.name"}</th>
                            <th style="width: 20%;">{lang var="acp.switchableManagement.elementTable.table.head.rooms"}</th>
                            <th style="width: 20%;">{lang var="acp.switchableManagement.elementTable.table.head.type"}</th>
                            <th style="width: 10%;">{lang var="acp.switchableManagement.elementTable.table.head.command"}</th>
                            <th style="width: 10%;">{lang var="acpindex.options"}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {foreach from=$elementList item='element'}

                        {* schaltbare Elemente *}
                        {instanceof element=$element['object'] class='\SHC\Switchable\Switchable'}
                        <tr>
                            <td>{if $element['object']->isEnabled() == false}<span style="text-decoration: line-through;">{/if}{#$element['object']->getName()}{if $element['object']->isEnabled() == false}</span>{/if}</td>
                            <td>{$element['object']->getNamedRoomList(true)}</td>
                            <td>
                                {instanceof element=$element['object'] class='\SHC\Switchable\Switchables\RadioSocket'}{lang var="acp.switchableManagement.element.radiosocket"}{/instanceof}
                                {instanceof element=$element['object'] class='\SHC\Switchable\Switchables\RPiGpioOutput'}{lang var="acp.switchableManagement.element.rpiGpioOutput"}{/instanceof}
                                {instanceof element=$element['object'] class='\SHC\Switchable\Switchables\WakeOnLan'}{lang var="acp.switchableManagement.element.wakeOnLan"}{/instanceof}
                                {instanceof element=$element['object'] class='\SHC\Switchable\Switchables\Shutdown'}{lang var="acp.switchableManagement.element.shutdown"}{/instanceof}
                                {instanceof element=$element['object'] class='\SHC\Switchable\Switchables\Reboot'}{lang var="acp.switchableManagement.element.reboot"}{/instanceof}
                                {instanceof element=$element['object'] class='\SHC\Switchable\Switchables\Script'}{lang var="acp.switchableManagement.element.script"}{/instanceof}
                            </td>
                            <td>{if $element['command'] == 1}{lang var="global.on"}{else}{lang var="global.off"}{/if}</td>
                            <td>
                                <a class="shc-view-buttons-edit" href="index.php?app=shc&action=toggleswitchablecommandincontainer&id={$SwitchableContainer->getId()}&command=toggle&element={$element['object']->getId()}" title="{lang var='acp.switchableManagement.button.toggleCommand'}"></a>
                                <a class="shc-view-buttons-delete" href="index.php?app=shc&action=deleteswitchableformcontainer&id={$SwitchableContainer->getId()}&command=delete&element={$element['object']->getId()}" title="{lang var='acp.switchableManagement.button.deleteFormContainer'}"></a>
                            </td>
                        </tr>
                        {/instanceof}
                        {foreachelse}
                        <tr>
                            <td colspan="5">{lang var='acpindex.emptyList'}</td>
                        </tr>
                        {/foreach}
                        <tr>
                            <td colspan="2">{$elementChooser->fetch()}</td>
                            <td>{$switchCommand->fetch()}</td>
                            <td></td>
                            <td>
                                <button id="shc-view-switchableManagement-addElementToSwitchableContainer">{lang var="acp.switchableManagement.button.addToSwitchableContainer"}</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="shc-view-buttons">
                    <div class="shc-view-buttonSet">
                        <a href="index.php?app=shc&page=listswitchables">{lang var='global.button.back'}</a>
                    </div>
                </div>
            {/contentbox}
            <script type="text/javascript">
                $(function() {

                    $('.shc-view-buttonSet').buttonset();

                    $('#shc-view-switchableManagement-addElementToSwitchableContainer').button().click(function() {

                        var element = $('select[name=element]').val();
                        var switchCommand = $('select[name=switchCommand]').val();
                        window.location = "index.php?app=shc&action=addswitchabletocontainer&id={$SwitchableContainer->getId()}&command=addElement&element="+ element +"&switchCommand="+ switchCommand;
                    });
                });
            </script>
        </div>
    </body>
</html>