<li>
    {if $device != 'smartphone'}
    <span class="shc-icon {if $switchable->getState() == 1}shc-icon-online{else}shc-icon-offline{/if}"></span>
    {/if}
    <span style="font-weight: bold;">{#$switchable->getName()}:</span>
    <div data-role="controlgroup" data-type="horizontal">
        <a id="shc-view-switchable-{$roomId}-{$switchable->getId()}-on" class="ui-btn ui-btn-inline ui-btn-c ui-icon-power ui-shadow ui-corner-all" style="width: 6em;">{lang var='index.room.button.start'}</a>
    </div>
</li>
<script type="text/javascript">
    $(function () {

        $('#shc-view-switchable-{$roomId}-{$switchable->getId()}-on').click(function() {

            //An Button gedrueckt
            $.getJSON(
                    "index.php?app=shc&a&ajax=executeswitchcommand&sid={$switchable->getId()}&command=1&hash=" + Math.floor(Math.random() * 11),
                    function(data) {

                        if (data.success == true) {

                            $('#shc-view-wolDevice-{$roomId}-{$switchable->getId()}').removeClass('shc-icon-offline');
                            $('#shc-view-wolDevice-{$roomId}-{$switchable->getId()}').addClass('shc-icon-online');
                            $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-on").removeClass('ui-icon-power ui-btn-c').addClass('ui-icon-arrow-r ui-btn-b');
                        } else {

                                alert(data.message);
                        }
                    }
            );
            return false;
        });
    });
</script>
