<li>
    {if $device != 'smartphone'}
    <span class="shc-icon {$switchable->getIcon()}"></span>
    {/if}
    <span style="font-weight: bold;">{#$switchable->getName()}:</span>
    <div data-role="controlgroup" data-type="horizontal">
        <a id="shc-view-switchable-{$roomId}-{$switchable->getId()}-on" class="ui-btn-inline ui-btn-b ui-btn ui-shadow ui-corner-all ui-btn-icon-left ui-icon-check" style="width: 6em;">
            {if $switchable->getButtonText() == 2}
                {lang var='global.up'}
            {elseif $switchable->getButtonText() == 4}
                {lang var='global.open'}
            {elseif $switchable->getButtonText() == 5}
                {lang var='global.start'}
            {else}
                {lang var='index.room.button.on'}
            {/if}
        </a>
        <a id="shc-view-switchable-{$roomId}-{$switchable->getId()}-off" class="ui-btn-inline ui-btn-c ui-btn ui-shadow ui-corner-all" style="width: 6em;">
            {if $switchable->getButtonText() == 2}
                {lang var='global.down'}
            {elseif $switchable->getButtonText() == 4}
                {lang var='global.closed'}
            {elseif $switchable->getButtonText() == 5}
                {lang var='global.stop'}
            {else}
                {lang var='index.room.button.off'}
            {/if}
        </a>
    </div>
</li>
<script type="text/javascript">
    $(function () {

        {if $switchable->getState() == 1}
            $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-off").removeClass("ui-icon-check ui-btn-b ui-btn-icon-left").addClass("ui-btn-c");
            $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-on").removeClass("ui-btn-c").addClass("ui-btn-b ui-icon-check ui-btn-icon-left");
            {else}
            $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-on").removeClass("ui-icon-check ui-btn-b ui-btn-icon-left").addClass("ui-btn-c");
            $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-off").removeClass("ui-btn-c").addClass("ui-btn-b ui-icon-check ui-btn-icon-left");
            {/if}

                $('#shc-view-switchable-{$roomId}-{$switchable->getId()}-on').click(function() {

                    //An Button gedrueckt
                    $.getJSON(
                            "index.php?app=shc&a&ajax=executeswitchcommand&sid={$switchable->getId()}&command=1&hash=" + Math.floor(Math.random() * 11),
                            function(data) {

                                if (data.success == true) {

                                    $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-off").removeClass("ui-icon-check ui-btn-b ui-btn-icon-left").addClass("ui-btn-c");
                                    $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-on").removeClass("ui-btn-c").addClass("ui-btn-b ui-icon-check ui-btn-icon-left");
                                } else {

                                    alert(data.message);
                                }
                            }
                    );
                    return false;
                });
                $('#shc-view-switchable-{$roomId}-{$switchable->getId()}-off').click(function() {

                    //Aus Button gedrueckt
                    $.getJSON(
                            "index.php?app=shc&a&ajax=executeswitchcommand&sid={$switchable->getId()}&command=0&hash=" + Math.floor(Math.random() * 11),
                            function(data) {

                                if (data.success == true) {

                                    $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-on").removeClass("ui-icon-check ui-btn-b ui-btn-icon-left").addClass("ui-btn-c");
                                    $("#shc-view-switchable-{$roomId}-{$switchable->getId()}-off").removeClass("ui-btn-c").addClass("ui-btn-b ui-icon-check ui-btn-icon-left");
                                } else {

                                    alert(data.message);
                                }
                            }
                    );
                    return false;
                });
            });
</script>