<div class="shc-contentbox-body-row shc-view-switchable">
    <span class="shc-contentbox-body-row-title">{#$switchable->getName()}</span>
    <span class="shc-icon {$switchable->getIcon()}"></span>
    <div class="shc-contentbox-body-row-content">
        <div id="shc-view-switchable-set-{$switchable->getId()}">
            {if $switchable->getOnCommand() != ''}
            <button id="shc-view-switchable-{$switchable->getId()}-on" style="width: 5em; height: 2em; font-size: 1.3em;">{lang var='index.room.button.on'}</button>
            {/if}
            {if $switchable->getOffCommand() != ''}
            <button id="shc-view-switchable-{$switchable->getId()}-off" style="width: 5em; height: 2em; font-size: 1.3em;">{lang var='index.room.button.off'}</button>
            {/if}
        </div>
    </div>
</div>
<script type="text/javascript">
    $(function () {

        //Buttons Initialisieren
        $('#shc-view-switchable-set-{$switchable->getId()}').buttonset();

            {if $switchable->getOnCommand() != '' && $switchable->getOffCommand() != '' && $switchable->getState() == 1}
            $('#shc-view-switchable-{$switchable->getId()}-on').button({ icons: { primary: 'ui-icon-check' } });

            $('#shc-view-switchable-{$switchable->getId()}-off').button({ icons: { primary: 'ui-icon-check' } });
            {/if}

                $('#shc-view-switchable-{$switchable->getId()}-on').click(function() {

                    //An Button gedrueckt
                    $.getJSON(
                            "index.php?app=shc&a&ajax=executeswitchcommand&sid={$switchable->getId()}&command=1&hash=" + Math.floor(Math.random() * 11),
                            function(data) {

                                if (data.success == true) {

                                    {if $switchable->getOnCommand() != '' && $switchable->getOffCommand() != ''}
                                    $("#shc-view-switchable-{$switchable->getId()}-off").button({ icons: { primary: "" } });
                                    $("#shc-view-switchable-{$switchable->getId()}-on").button({ icons: { primary: "ui-icon-check" } });
                                    {/if}
                                } else {

                                    $('#shc-view-errorFrame').text(data.message);
                                    $('#shc-view-errorFrame').dialog({
                                        resizable: false,
                                        modal: true,
                                        buttons: {
                                            OK: function() {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                }
                            }
                    );
                    return false;
                });
                $('#shc-view-switchable-{$switchable->getId()}-off').click(function() {

                    //Aus Button gedrueckt
                    $.getJSON(
                            "index.php?app=shc&a&ajax=executeswitchcommand&sid={$switchable->getId()}&command=0&hash=" + Math.floor(Math.random() * 11),
                            function(data) {

                                if (data.success == true) {

                                    {if $switchable->getOnCommand() != '' && $switchable->getOffCommand() != ''}
                                    $("#shc-view-switchable-{$switchable->getId()}-on").button({ icons: { primary: "" } });
                                    $("#shc-view-switchable-{$switchable->getId()}-off").button({ icons: { primary: "ui-icon-check" } });
                                    {/if}
                                } else {

                                    $('#shc-view-errorFrame').text(data.message);
                                    $('#shc-view-errorFrame').dialog({
                                        resizable: false,
                                        modal: true,
                                        buttons: {
                                            OK: function() {
                                                $(this).dialog("close");
                                            }
                                        }
                                    });
                                }
                            }
                    );
                    return false;
                });

                $('#shc-view-switchable-{$switchable->getId()}-on').mouseleave(function() {

                    $('#shc-view-switchable-{$switchable->getId()}-on').button("icons");
                });
            });
</script>